<app-mainpages-header-friedl></app-mainpages-header-friedl>
<div style="text-align: center;">
  <img src="/assets/Friedl-bilder/SturmGrazlogo.jpg" alt="Sturm Graz Logo" style="width: 330px; height: auto; vertical-align: middle;">
</div>
<div class="container">
  <div class="sturmbg">
    <div class="text-content">
      <h1>SK Puntigamer Sturm Graz</h1>
      <p>Der SK Puntigamer Sturm Graz ist ein Fußballverein aus Graz, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Merkur Arena aus. Die Vereinsfarben sind Schwarz und Weiß. Sturm Graz ist einer der traditionsreichsten und erfolgreichsten Fußballvereine des Landes.</p>
      <h2>Geschichte</h2>
      <p>Der SK Puntigamer Sturm Graz wurde 1909 gegründet und hat sich seither als fester Bestandteil der österreichischen Bundesliga etabliert. Der Verein hat mehrere Meistertitel und Pokalsiege gewonnen und spielt regelmäßig in den europäischen Wettbewerben.</p>
      <p>Die Heimspiele trägt der SK Puntigamer Sturm Graz in der Merkur Arena aus, die Platz für rund 16.000 Zuschauer bietet. Das Stadion ist bekannt für seine hervorragende Infrastruktur und die leidenschaftliche Unterstützung durch die Fans.</p>
      <p>Sturm Graz hat sich über die Jahre als eine der führenden Mannschaften in Österreich etabliert und strebt weiterhin nach internationalen Erfolgen.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1998, 2011</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1997, 1999, 2010</td>
          </tr>
          <tr>
            <td>Supercupsieger</td>
            <td>2001, 2011</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 7/10</p>
      <p>Management: 8/10</p>
      <p>Vereinsgeschichte: 9/10</p>
      <p>Spielerisch: 7/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
