<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/page_friedl" routerLinkActive="active" class="nav-link" aria-current="page">Über mich</a></li>
      <li class="nav-item"><a routerLink="/subpage2-friedl" routerLinkActive="active" class="nav-link">Lieblingshobby</a></li>
      <li class="nav-item"><a routerLink="/subpage1-friedl" routerLinkActive="active" class="nav-link">Lieblingsteam</a></li>
    </ul>
  </header>
</div>
<a href="{{me.socialLink}}" target="_blank" class="instagram-logo">
  <img src="/assets/Instagram.jpg" alt="Instagram Logo" style="width: 40px; height: 40px;">
</a>
