<body>


<div class="flex-container">
  <div class="Bild">
<img src="{{ me.urlImage }}" alt="Pojar_Image" width="auto" height="900">
  </div>
<div class="container-fluid m-5">
  <div class="card" style="" width="100" height="1000">

    <div class="card-body">
      <h1 class="card-title">{{ me.firstname }} {{ me.surname }}</h1>
        <h6 class="card-text"><strong>     Geburtstag: </strong>{{me.birthday.getUTCMonth()}}.{{me.birthday.getUTCDay()}}.{{me.birthday.getFullYear()}}</h6>
        <h6 class="card-text"><strong>     Wohnort: </strong>{{me.zip_code}} {{me.city}}</h6>
      <h6 class="card-text"><strong>       Abteilung: </strong>{{me.department}}</h6>
      <h6 class="card-text"><strong>       Github: </strong>{{me.github_nickname}}</h6>
        <h5 class="card-text">{{me.message}}</h5>

      <div class="speck">
<div class="instadarm">
      <p><a href="https://www.instagram.com/bumbobreiner12/">
        <img src="assets/Pojar-Assets/Instadarm.png" alt="Instadarm.com" width="50" height="50">
      </a></p>
    </div>
      <div class="email">
        <p><a href="mailto:210178@studierende.htl-donaustadt.at">
          <img src="assets/Pojar-Assets/email-black-icon.png" alt="email" width="80" height="80">
        </a></p>
      </div>
      </div>
      <div class="Knopf">
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
      </div>
      <div class="Schopf">
        <a routerLink="/bacos" routerLinkActive="active" class="btn btn-primary">Mein Lieblingsessen</a>
      </div>
    </div>
  </div>
</div>
</div>

</body>
