<app-mainpages-header-friedl></app-mainpages-header-friedl>

<div class="laskbg">
  <div class="header-container">
    <h1>LASK Linz</h1>
    <div class="header-logo">
      <img src="/assets/Friedl-bilder/newLASKlogo.png" alt="LASK Logo">
    </div>
  </div>

  <div class="container">
    <div class="text-content">
      <p>Der Linzer ASK (LASK) ist ein Fußballverein aus Linz, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Linzer Stadion aus. Die Vereinsfarben sind Schwarz und Weiß. LASK gehört zu den traditionsreichsten Fußballvereinen des Landes und hat in den letzten Jahren wieder zu internationalem Erfolg gefunden.</p>

      <h2>Geschichte</h2>
      <p>Der Linzer ASK wurde 1908 gegründet und hat eine lange Tradition im österreichischen Fußball. In den letzten Jahren hat der Verein wieder große Erfolge erzielt und sich sowohl national als auch international etabliert. Das Linzer Stadion ist bekannt für seine leidenschaftlichen Fans und die besondere Atmosphäre bei den Heimspielen.</p>
      <p>Das Linzer Stadion, auch bekannt als "Raiffeisen Arena", ist ein modernes Stadion mit einer Kapazität von etwa 20.000 Sitzplätzen. Es wurde 2014 umfassend renoviert und ist heute ein modernes Fußballstadion, das für seine hervorragende Infrastruktur bekannt ist.</p>
      <p>LASK hat eine starke Anhängerschaft und ist in der österreichischen Fußballszene nicht mehr wegzudenken.</p>

      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1965, 2019</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1965, 1997, 2015</td>
          </tr>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>2003</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 9/10</p>
      <p>Management: 8/10</p>
      <p>Vereinsgeschichte: 9/10</p>
      <p>Spielerisch: 8/10</p>

      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
    </div>
  </div>
</div>

<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
