
<div class="ganz">
<div class="text-container">
<div class="bild">
<img src="{{ me.urlImage }}" width="350px" alt="Oje das ist nicht gut"><br>
</div>
  <div class="text">
<div class="title">
<h2 class="card-title">{{ me.firstname }} <div class="nachname">{{ me.surname }}</div></h2>
</div>
<ul>
 <li><a href= "mailto:name@email.com">{{me.email}}</a><br><br></li>

    <li><a href= {{me.socialLink}}> Mein Instagram Profil</a><br><br></li>

<li><p class="card-text">{{me.birthday.getUTCMonth()}}.{{me.birthday.getUTCDay()}}.{{me.birthday.getFullYear()}}
  um {{me.birthday.getHours()}}:{{me.birthday.getMinutes()}}</p><br></li>

    <li><p>Österreich</p><br></li>

    <li><p>{{me.city}}</p><br></li>

    <li><p>Lassee ist die Metropole des einzigartigen Marchfelds(Preisgekröntes Spargelland).</p><br></li>
    </ul>
    <a class="btn btn-primary" routerLink="/home" routerLinkActive="active">Back</a>
    <div class="link">
    <a class="btn btn-primary" routerLink="/page_novo_subpage1" routerLinkActive="active">Trainingsplan</a>  </div>

    <a class="btn btn-primary" routerLink="/page_novo_subpage2" routerLinkActive="active">Lieblingsessen</a>  </div>
</div>
</div>

