<div class="header-container">
  <div class="d-flex justify-content-between align-items-center">

    <div class="nav-links">
      <a routerLink="/page-about-me-garcia" routerLinkActive="active" class="nav-link">
        <strong>About Me</strong>
      </a>
      <a routerLink="/page-meine-reisen-garcia" routerLinkActive="active" class="nav-link">
        <strong>My Journey</strong>
      </a>
      <a routerLink="/page-vacations-garcia" routerLinkActive="active" class="nav-link">
        <strong>Vacations</strong>
      </a>
      <a routerLink="/page-lieblingssaengerin-garcia" routerLinkActive="active" class="nav-link">
        <strong>Fav Singer</strong>
      </a>
    </div>

    <a routerLink="/home" routerLinkActive="active" class="nav-link">
      <strong>Home</strong>
    </a>
  </div>

  <a href="https://www.htl-donaustadt.at/home" class="logo-container">
    <img src="{{ me.urlImage }}" alt="Logo" class="logo">
  </a>
</div>
