<header>
  <div class="logo">
    <img src="assets/Pojar-Assets/Logo.png" alt="Logo Image">
  </div>
  <div class="title">Markus</div>  <!-- Überschrift "Markus" -->
  <div class="website-title">Meine Website</div>  <!-- Neue Überschrift in der Mitte -->
  <nav>
    <ul>
      <li><a routerLink="/page-about-me-pojar" routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/page-getestete-doener-pojar" routerLinkActive="active">Getestete Döner </a></li>
      <li><a routerLink="/page-lieblingsessen-pojar" routerLinkActive="active">Mein Lieblingsessen</a></li>
    </ul>
    <router-outlet></router-outlet>
  </nav>
</header>
