<app-mainpages-header-friedl></app-mainpages-header-friedl>

<div class="gakbg">
  <div class="header-container">
    <h1>Grazer AK</h1>
    <div class="header-logo">
      <img src="/assets/Friedl-bilder/newGAKlogo.png" alt="GAK Logo">
    </div>
  </div>

  <div class="container">
    <div class="text-content">
      <p>Der Grazer AK, auch bekannt als GAK, ist ein Fußballverein aus Graz, Österreich. Der Verein spielt seit 2024 in der 1. Liga und trägt seine Heimspiele im Stadion im Grazer Stadion aus. Die Vereinsfarben sind Rot und Weiß. Der Grazer AK ist einer der bekanntesten und traditionsreichsten Fußballvereine in der Steiermark.</p>

      <h2>Geschichte</h2>
      <p>Der Grazer AK wurde 1902 gegründet und zählt zu den ältesten Fußballvereinen Österreichs. In den frühen Jahren erlebte der Verein große Erfolge, darunter mehrere Meistertitel. Nach einem sportlichen Tief in den 2000er Jahren hat sich der GAK wieder stabilisiert und spielt heute in der 2. Liga, mit dem Ziel, bald wieder in die Bundesliga aufzusteigen.</p>
      <p>Die Heimspiele trägt der GAK im Stadion im Grazer Stadion aus, das Platz für rund 16.000 Zuschauer bietet. Das Stadion ist bekannt für seine leidenschaftlichen Fans und die historische Bedeutung des Vereins für den steirischen Fußball.</p>
      <p>Der GAK hat eine treue Anhängerschaft und strebt weiterhin nach Erfolg in der 2. Liga und darüber hinaus.</p>

      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-danger table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1949, 1952, 2004</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1930, 1951, 1994</td>
          </tr>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>1995, 2004</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 7/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 8/10</p>
      <p>Spielerisch: 1/10</p>

      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>

<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
