
<app-header-ciz></app-header-ciz>

<div id = "spambod">
<title>Deltarune (The Game) (The Story)</title>
<h1>DELTARUNE (und wie es "morgen" herauskommt)</h1>
<p>Deltarune ist die 2018 veröffentlichte Schwestergeschichte von Undertale, es ist keine Fortsetzung oder ein Prequel oder irgendetwas, das besonders erklärbar ist, es ist nur irgendwie verwandt</p>
<p>Wichtig daran ist, dass es sich im Moment nur um eine "Demo" handelt, die nur die ersten beiden Kapitel von sieben enthält. Es sind 4 Jahre seit dem letzten Update vergangen und 7 Jahre, seit wir überhaupt davon gehört haben</p>
<p>und die nächsten beiden Kapitel, könnten in den nächsten Wochen erscheinen (oder wie manche Leute sagen: "Deltarune Tomorrow")</p>
<p>Normalerweise ist der Entwickler, Toby Fox, online unglaublich ruhig. Das meiste, was wir bekommen haben, waren saisonale Newsletter, die nur öffentliche Nachrichten und einige kleine Sprites zeigten. Er postet nie, twittert nie, bis jetzt.</p>
<p>Er postet seit Anfang des Jahres regelmäßig auf Bluesky und es gibt immer mehr Informationen darüber, wie nah das Spiel an der Veröffentlichung ist</p>
<img src="assets/cizmic_assets/delta1.png" id = "lorestuff" alt ="Document explaining the release schedule of Deltarune and recent toby skeets">
<p>Nach den Jahren, in denen es praktisch nichts gab, und dem plötzlichen Aufheizen der Nachrichten, hat dies dazu geführt, dass die meisten DR-Fans die Haltung von "Deltarune Tomorrow" einnehmen. Das Spiel wird morgen erscheinen, und wenn nicht, dann kommt es morgen raus</p>
<p>Feiern wir also morgen die Veröffentlichung von Deltarune.</p>
<img src="assets/cizmic_assets/delta2.gif" alt ="spamton danc">
</div>

<app-footer-ciz></app-footer-ciz>
