<div class="container-fluid m-5" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="background-box" style="background-color: beige; padding: 60px; border-radius: 30px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); border: 5px solid black;">
    <div class="row" style="display: flex; align-items: center; justify-content: center; text-align: center;">

      <div class="col-4" style="padding: 0; display: flex; justify-content: center;">
        <img src= "{{ me.urlImage }}" class="img-fluid" alt="Playboi Carti" style="border: 3px solid #D2B48C; border-radius: 10px; width: 80%; height: auto;">
      </div>

      <div class="col-6" style="background-color: rgba(255, 255, 255, 0.8); padding: 30px; border-radius: 15px; border: 3px solid #D2B48C; margin-left: 30px; max-width: 700px;">
        <h5 class="card-title" style="margin-bottom: 20px;"><strong><u>Music => Playboi Carti</u></strong></h5>
        <p class="card-text">Playboi Carti ist ein visionärer Künstler, der die Welt des Hip-Hop revolutioniert hat. Sein unverwechselbarer Stil, seine experimentellen Beats und sein einzigartiger Flow haben ihn zu einer Ikone der modernen Musik gemacht.</p>

        <div style="margin-bottom: 20px;">
          <p class="card-text">
            <strong>Echter Name:</strong> Jordan Terrell Carter
          </p>
          <p class="card-text">
            <strong>Bekannt für:</strong> "Magnolia", "Die Lit", "Whole Lotta Red"
          </p>
          <p class="card-text">
            <strong>Genre:</strong> Hip-Hop, Trap, Cloud Rap
          </p>
          <p class="card-text">
            <strong>Alben:</strong> <em> Playboi Carti</em> (2017), <em>Die Lit</em> (2018), <em>Whole Lotta Red</em> (2020)
          </p>
          <p class="card-text">
            <strong>Gerüchte:</strong> Das Album <strong>I AM MUSIC</strong> wurde oft angekündigt, aber bisher nicht veröffentlicht. Fans warten gespannt darauf, wie Carti die Grenzen der Musik weiter verschieben wird. Oder ob das Album wirklich mal erscheint...
          </p>
        </div>

        <div style="margin-bottom: 20px;">
          <h6 style="margin-bottom: 20px;"><u>Warum Playboi Carti?</u></h6>
          <p>Playboi Carti steht für Innovation und Kreativität. Seine Tracks sind mehr als nur Musik – sie sind ein Lebensgefühl. Mit futuristischen Sounds und energiegeladenen Performances beeinflusst er eine ganze Generation.</p>
          <p>Unteranderem zu neueren Hits gehören <strong>"Timeless", "H00dbyair", "EvilJordan"</strong> und <strong>"TypeShit"</strong>, die erneut zeigen, warum er als einer der einflussreichsten Künstler seiner Zeit gilt. Diese Lieder geben auch eine Richtung an, wie sich das neuste Album <strong>"I AM MUSIC"</strong> anhören könnte, auf das die Fans gespannt warten.</p>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
          <div style="display: flex; justify-content: space-between; width: 260px; margin-bottom: 10px;">
            <a href="https://open.spotify.com/artist/699OTQXzgjhIYAHMy9RyPD" target="_blank" class="btn btn-primary" style="width: 120px; height: 40px; background-color: #93C572; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
              spotify
            </a>
            <a href="https://genius.com/artists/Playboi-carti" target="_blank" class="btn btn-primary" style="width: 120px; height: 40px; background-color: #80471C; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
              biography
            </a>
          </div>
          <a routerLink="/home" routerLinkActive="active" class="btn btn-primary" style="width: 160px; height: 40px; margin-top: 10px; background-color: #0E0E10; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
            back home
          </a>
        </div>

      </div>

    </div>
  </div>
</div>

<style>
  .btn:hover {
    background-color: #A59A8F;
    transform: scale(1.1);
  }

  .background-box {
    max-width: 1500px;
    margin: auto;
  }
</style>
