<div class="container-fluid m-5" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="background-box" style="background-color: beige; padding: 60px; border-radius: 30px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); border: 5px solid black;">
    <div class="row" style="display: flex; align-items: center; justify-content: center; text-align: center;">

      <div class="col-4" style="padding: 0; display: flex; justify-content: center;">
        <img src="{{ me.urlImage }}" class="img-fluid" alt="Playboi Carti" style="border: 3px solid #D2B48C; border-radius: 10px; width: 95%; height: auto;">
      </div>

      <div class="col-6" style="background-color: rgba(255, 255, 255, 0.8); padding: 30px; border-radius: 15px; border: 3px solid #D2B48C; margin-left: 30px; max-width: 700px;">
        <h5 class="card-title" style="margin-bottom: 20px;"><strong>Music</strong></h5>
        <p class="card-text"><strong>Playboi Carti</strong> ist ein visionärer Künstler, der die Welt des Hip-Hop revolutioniert hat. Sein unverwechselbarer Stil, seine experimentellen Beats und sein einzigartiger Flow haben ihn zu einer Ikone der modernen Musik gemacht.</p>

        <div style="margin-bottom: 20px;">
          <p class="card-text">
            <strong>Echter Name:</strong> Jordan Terrell Carter
          </p>
          <p class="card-text">
            <strong>Bekannt für:</strong> "Magnolia", "Die Lit", "Whole Lotta Red"
          </p>
          <p class="card-text">
            <strong>Genre:</strong> Hip-Hop, Trap, Cloud Rap
          </p>
          <p class="card-text">
            <strong>Alben:</strong> <em> Playboi Carti</em> (2017), <em>Die Lit</em> (2018), <em>Whole Lotta Red</em> (2020)
          </p>
          <p class="card-text">
            <strong>Gerüchte:</strong> Das Album <strong>I AM MUSIC</strong> wurde oft angekündigt, aber bisher nicht veröffentlicht. Fans warten gespannt darauf, wie Carti die Grenzen der Musik weiter verschieben wird. Oder ob das Album wirklich mal erscheint...
          </p>
        </div>

        <div style="margin-bottom: 20px;">
          <h6 style="margin-bottom: 20px;">Warum Playboi Carti?</h6>
          <p>Playboi Carti steht für Innovation und Kreativität. Seine Tracks sind mehr als nur Musik – sie sind ein Lebensgefühl. Mit futuristischen Sounds und energiegeladenen Performances beeinflusst er eine ganze Generation.</p>
          <p>Unter anderem zu neueren Hits gehören <strong>"Timeless", "H00dbyair", "EvilJordan"</strong> und <strong>"TypeShit"</strong>, die erneut zeigen, warum er als einer der einflussreichsten Künstler seiner Zeit gilt. Diese Lieder geben auch eine Richtung an, wie sich das neueste Album <strong>"I AM MUSIC"</strong> anhören könnte, auf das die Fans gespannt warten.</p>
        </div>

        <div style="margin-bottom: 20px;">
          <h6 style="margin-bottom: 10px;">Meine Lieblingslieder derzeit :</h6>
          <ul style="list-style-type: square; padding-left: 20px; text-align: left;">
            <li><a href="https://www.youtube.com/watch?v=Ho6evSsYjDY" target="_blank"><strong>H00dbyAir</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=VgI3C2A38Zo" target="_blank"><strong>EvilJ0rdan</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=5EpyN_6dqyk" target="_blank"><strong>Timeless</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=Ezkvi8rcwoY" target="_blank"><strong>Lose You</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=fZhaltXQBMo" target="_blank"><strong>Walk</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=70vbQqD3bRM" target="_blank"><strong>Play This</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=-VkNUXpw5yc" target="_blank"><strong>Ur the Moon</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=od9yBLsLuW0" target="_blank"><strong>Omerta</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=I0fgkcTbBoI" target="_blank"><strong>TypeShit</strong></a></li>
            <li><a href="https://www.youtube.com/watch?v=0age3DSgqQk" target="_blank"><strong>All Red</strong></a></li>
          </ul>
        </div>

        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; justify-content: center; margin-top: 20px;">
          <a href="https://open.spotify.com/artist/699OTQXzgjhIYAHMy9RyPD" target="_blank" class="btn btn-primary" style="background-color: #93C572; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16" style="margin-right: 5px;">
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/>
            </svg>
            spotify
          </a>
          <a href="https://genius.com/artists/Playboi-carti" target="_blank" class="btn btn-primary" style="background-color: #80471C; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
            biography
          </a>
          <a routerLink="/home" routerLinkActive="active" class="btn btn-primary" style="background-color: #0E0E10; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
             home
          </a>
          <a routerLink="/page_mutisevic" routerLinkActive="active" class="btn btn-primary" style="background-color: #B4B4B4; border: none; color: white; font-weight: bold; text-align: center; transition: background-color 0.3s ease, transform 0.3s ease;">
            about me
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

