<!DOCTYPE html>
<html lang="de">

<div class="body">
  <div class="container">
    <h1>Blätterteig Burger</h1>
    <img src="/assets/radda-bilder/blätterteig-burger.jpg" width="auto" height="400">
    <p><strong>Zutaten  für 3-4 Protionen:</strong><br>
      - 700g Faschiertes<br>
      - 1großer Zwiebel<br>
      - 60ml Senf<br>
      - 75g Semmelbrösel<br>
      - 2-3 Knoblauchzehe<br>
      - 12 Scheiben Käse (empfehlung Cheddar)<br>
      - Salz & Pfeffer & Cumin & Paprikapulver<br>
      - 2 Packungen Blätterteig<br>
      - 1 Ei<br>
    </p>
    <p><strong>Zubereitung:</strong><br>
      1. Zwiebel schälen und klein würfeln.<br>
      2. Faschiertes in eine Schüssel geben und mit zwiebeln vermischen.<br>
      3. Knoblauch schneiden oder in Knoblauchpresse geben und in die Schüssel mit der Faschierenmischung, Senf und den Semmelbröseln vermischen.<br>
      4. Faschiertes nach eigenem Geschmack würzen.<br>
      5. Ersten Blätterteig ausrollen und in 6 gleich große stücke schneiden.<br>
      6. Ein Blatt Käse in  Blätterteig legen und Faschiertes aufteilen auf die  Blätterteigstücke.<br>
      7. Zweites Blatt Käse auf das Faschierte legen.<br>
      8. Ersten Blätterteig ausrollen und in 6 gleich große stücke schneiden und auf die anderen Stücke legen und zu drücken<br>
      9. Blätterteig Burger auf ein Backblech mit Backpapier legen und mit Ei bestreichen.<br>
      10. Blätterteig Burgen bei 180grad Umluft für 20min backen, 3-5min auskühlen lassen und genießen :V.<br>
    </p>
    <a href="/page-schoen" class="btn btn-primary" routerLink="" routerLinkActive="active">Back</a>
  </div>
</div>
</html>
