<app-page-header-garcia></app-page-header-garcia>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div class="container" style="max-width: 1000px; margin: 0 auto; padding: 20px;">

  <div class="header" style="text-align: center; margin-top: 50px; margin-bottom: 20px;">
    <h1>MY FAV SINGER - SZA</h1>
  </div>

  <div class="image" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
    <img src="{{ me.urlImage }}" alt="Profile Image"
         style="max-width: 100%; height: auto; object-fit: contain; border-radius: 20px; border: 3px solid white;">
  </div>


  <div class="info" style="background-color: #e6f3ff; padding: 20px; border-radius: 15px;">
    <h2 style="text-align: left; font-size: 3rem;"><u>Biografie</u></h2>

    <p>
      <span class="label">Real Name:</span> Solána Imani Rowe<br>
      <span class="label">Date of Birth:</span> November 8, 1989<br>
      <span class="label">Genre:</span> R&B, Neo-soul, Hip Hop<br>
      <span class="label">Ethnicity:</span> African American, with mixed heritage (including Native American)<br>
      <span class="label">Origin:</span> St. Louis, Missouri, USA<br>
      <span class="label">Occupation:</span> Singer, Songwriter<br>
      <span class="label">Years Active:</span> 2010–present<br>
    </p>

    <h2 style="text-align: left"><u>Why I Like her</u></h2>
    <p>
      Ich mag sie, weil ihre Stimme so wunderschön ist, dass sie mich jedes Mal beruhigt und in eine andere Welt entführt. Sie schafft es, mit ihrer Musik eine ganz besondere Atmosphäre zu kreieren, die mich immer wieder zum Nachdenken anregt.
      Als Person wirkt sie unglaublich lieb und sympathisch, und es scheint, als ob ihre Musik ihre wahre Persönlichkeit widerspiegelt. Ihre Lyrics sind vor allem sehr tiefgründig und gleichzeitig wunderschön zu verstehen.
      Sie spricht aus, was viele von uns fühlen, und trifft genau den richtigen Ton.
      Wenn ich ihre Musik höre, fühle ich mich glücklich und verbunden, fast so, als wäre sie ein guter Freund, der mich versteht. Ich könnte stundenlang ihren Songs lauschen und dabei alles um mich herum vergessen.
      Man könnte sagen, ich bin ein echter Fan, der ihre Musik und ihre Art sehr schätzt.
    </p>

    <h2 style="text-align: left"><u>Some of my Favourite Songs</u></h2>
    <div class="song-buttons">
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=HfWLgELllZs')">Luther (ft. Kendrick Lamar)</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=bS7dvgYr6PM')">Special</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=JLd09jmEAYA')">Open Arms (ft. Travis Scott)</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=G5YwhjCywvw')">Gloria (ft. Kendrick Lamar)</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=iwyAxyE2Ajg')">I Hate U</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=p9rllutpWq4')">Shirt</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=hHXfCOjb3fk')">Love Galore (ft. Travis Scott)</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=npu0F7n4M9Y')">Love Language</button>
      <button class="song-button" onclick="window.open('https://www.youtube.com/watch?v=zVc-K1kKkVk')">Broken Clocks</button>
    </div>

    <h3 class="follow-sza-header" style="text-align: left">Follow SZA</h3>
    <div class="buttons" style="margin-top: 20px;">
      <a href="https://www.instagram.com/sza/" target="_blank">Instagram</a>
      <a href="https://twitter.com/sza" target="_blank">Twitter</a>
      <a href="https://www.youtube.com/channel/UCO5IQ70V7l-XpHW40HwaGsw" target="_blank">YouTube</a>
    </div>

    <div class="backButton" style="margin-top: 30px; text-align: center;">
      <a routerLink="/page_garcia" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>

  </div>
</div>




