<head>
  <title>Karten Layout</title>
</head>
<div class="container">
  <div class="card-container">
    <div class="card">
      <h3>Afiyet</h3>
      <img src="assets/Pojar-Assets/Afiyet.jpg" alt="Bild 1">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/4.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Aspern Imbiss</h3>
      <img src="assets/Pojar-Assets/AspernImbiss.jpg" alt="Bild 2">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/2.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Bacos</h3>
      <img src="assets/Pojar-Assets/Bacos.png" alt="Bild 3">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Baran</h3>
      <img src="assets/Pojar-Assets/Baran.png" alt="Bild 4">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/2.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Batuchef</h3>
      <img src="assets/Pojar-Assets/Batuchef.jpg" alt="Bild 5">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
      </div>
    </div>
    <div class="card">
      <h3>Berfin</h3>
      <img src="assets/Pojar-Assets/Berfin.png" alt="Bild 6">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/1.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Deluxe</h3>
      <img src="assets/Pojar-Assets/Deluxe.png" alt="Bild 7">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Donautreff</h3>
      <img src="assets/Pojar-Assets/Donautreff.webp" alt="Bild 8">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/1.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Durans Imbiss</h3>
      <img src="assets/Pojar-Assets/Durans Imbiss.webp" alt="Bild 9">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/2.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Dönerista</h3>
      <img src="assets/Pojar-Assets/Dönerista.jpg" alt="Bild 10">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/4.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>EatnDrink</h3>
      <img src="assets/Pojar-Assets/eatndrink.jpg" alt="Bild 11">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/2.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Ferhat</h3>
      <img src="assets/Pojar-Assets/Ferhat.jpg" alt="Bild 12">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/5.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Inder Kebab</h3>
      <img src="assets/Pojar-Assets/Inder Kebab.png" alt="Bild 13">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/1.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Masda</h3>
      <img src="assets/Pojar-Assets/Masda.jpg" alt="Bild 14">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/1.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Meyman</h3>
      <img src="assets/Pojar-Assets/Meyman.jpg" alt="Bild 15">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/4.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Milano</h3>
      <img src="assets/Pojar-Assets/Milano.jpg" alt="Bild 16">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Mr Quebap</h3>
      <img src="assets/Pojar-Assets/Mr Quebap.png" alt="Bild 17">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Mr QUICK</h3>
      <img src="assets/Pojar-Assets/Mr QUICK.jpg" alt="Bild 18">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Pera</h3>
      <img src="assets/Pojar-Assets/Pera.jpg" alt="Bild 19">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/3.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Safran</h3>
      <img src="assets/Pojar-Assets/Safran.jpg" alt="Bild 20">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/5.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Stadlau Imbiss</h3>
      <img src="assets/Pojar-Assets/Stadlau Imbiss.webp" alt="Bild 21">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/2.png" alt="Sterne">
        </div>
    </div>
    <div class="card">
      <h3>Steakdöner</h3>
      <img src="assets/Pojar-Assets/Steakdöner.png" alt="Bild 22">
      <div class="sternchen">
      <img src="assets/Pojar-Assets/5.png" alt="Sterne">
        </div>
    </div>
  </div>
</div>
