<app-header-kovacic></app-header-kovacic>
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Lieblingslieder</title>
</head>
<body>

<h1>Meine Lieblingsmusik</h1>

<div class="songs">
  <div class="song">
    <img src="/assets/kovacic_bilder/imissthemisery.jpg" alt="Halestorm">
    <h2>I Miss The Misery</h2>
    <p>von <strong>Halestorm</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/3gmEzilP9BzF45wIMvA16l" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=YpJAmlnBxoA" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/kovacic_bilder/overeachother.jpg" alt="Linkin Park">
    <h2>Over Each Other</h2>
    <p>von <strong>Linkin Park</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/album/09mU09ThtQmKfCgtEeiQZP" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=fSHoePrnmMw" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/kovacic_bilder/famouslastwords.jpg" alt="My Chemical Romance">
    <h2>Famous Last Words</h2>
    <p>von <strong>My Chemical Romance</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/2d6m2F4I7wCuAKtSsdhh83" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=8bbTtPL1jRs" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/kovacic_bilder/voices.jpg" alt="Against The Current">
    <h2>Voices</h2>
    <p>von <strong>Against The Current</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/6iA4iQegpoPH7dOrPdxYur" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=oXFEMV919Pk" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/kovacic_bilder/darkside.jpg" alt="Bring Me The Horizon">
    <h2>Darkside</h2>
    <p>von <strong>Bring Me The Horizon</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/album/3E21iYJYv6lSkBkHBv3SKq" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=3Nt37RGbVjo" target="_blank">📺 YouTube</a>
    </div>
  </div>
</div>

<div class="buttons">
  <a routerLink="/page_kovacic" routerLinkActive="active" class="btn btn-primary">Zu meinem Profil</a>
  <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Homepage</a>
</div>

</body>
</html>
<app-footer-kovacic></app-footer-kovacic>
