@import '../bootstrap_hauer';

.main-content {
  margin-top: $header-fixed-offset;
  flex: 1;
}

.page-wrapper {
  font-family: $main-font;
  background: linear-gradient(to bottom, $primary-purple, $accent-pink);
  @include flex-center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.container {
  text-align: center;
  color: $white;
  padding-bottom: 20px;
}

.title {
  padding-top: 60px;
  font-size: 36px;
  font-family: $arial-font;
  color: $white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card {
  @include card-style;
  background: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin: 20px;
  width: 100%;
  overflow: hidden;
}

.card-content {
  @include flex-center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.card img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 5px solid $accent-pink;
  box-shadow: $image-shadow;
}

.text-content {
  width: 100%;

  @media (min-width: 768px) {
    width: 55%;
  }
}

.recipe {
  margin-top: 20px;

  h3 {
    color: $accent-pink;
    font-size: 24px;
    font-family: $heading-font;
  }

  ul, ol {
    padding-left: 20px;
    list-style-position: inside;
  }

  li {
    margin-bottom: 12px;
    line-height: 1.6;
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.main-content{
  margin-top: 210px;
}
