body {
  font-family: "Times New Roman", serif;
  background-color: #eef2f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  transform: translate(-50%, 0%);
  left: 50%;
  right: 50%;
}

h1 {
  font-family: "Times New Roman", serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #222;
}

.card {
  width: 100%;
  border: none;
  background-color: #fafafa;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-family: "Times New Roman", serif;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.card-text {
  font-family: "Times New Roman", serif;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

.btn-primary {
  font-family: "Times New Roman", serif;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #5b39c0;
  color: #fff;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #6a3ca1;
  transform: translateY(-3px);
}

.card-body a {
  font-family: "Times New Roman", serif;
  color: #1c1111;
  text-decoration: none;
  font-weight: bold;
}

.card-body a:hover {
  text-decoration: underline;
}

