<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="page-wrapper">
  <div class="container">
    <h1 class="title">Mein Lieblingsgericht</h1>
    <div class="card">
      <div class="card-content">
        <img src="/assets/Hauer_bilder/Curry/Curry.jpg" class="img-fluid" alt="Rotes Thai-Curry mit Huhn">
        <div class="text-content">
          <h2>Rotes Thai-Curry mit Huhn</h2>
          <p>Ein authentisches thailändisches Curry mit zartem Fleisch in Kokosmilch, laktose- und glutenfrei sowie fruktosearm.</p>
          <div class="recipe">
            <h3>Zutaten:</h3>
            <ul>
              <li>500 g Hähnchenbrust</li>
              <li>1 Stängel Zitronengras, ca. 1 EL fein geschnitten</li>
              <li>½ Glas Bambusstreifen, ca. 165 g</li>
              <li>3 kleine rote Chilischoten, getrocknet</li>
              <li>1 Stück Ingwer, ca. 1 EL kleingehackt</li>
              <li>1 Bund Basilikum</li>
              <li>400 g Kokosmilch</li>
              <li>2 EL Sojasauce</li>
              <li>1 EL Rohrzucker</li>
              <li>1 EL Traubenzucker</li>
              <li>1 Zehe Knoblauch</li>
              <li>Schwarzer Pfeffer</li>
              <li>1 rote Paprikaschote</li>
              <li>1 grüne Paprikaschote</li>
              <li>3 Stangen Lauchzwiebeln</li>
            </ul>
            <h3>Zubereitung:</h3>
            <ol>
              <li>Hähnchenbrust in mundgerechte Stücke schneiden.</li>
              <li>Paprikaschoten in Streifen, Lauchzwiebeln in Ringe schneiden.</li>
              <li>Öl in einem Wok erhitzen und die rote Currypaste darin kurz anbraten.</li>
              <li>Kokosmilch hinzufügen und aufkochen lassen.</li>
              <li>Hähnchenstücke dazugeben und etwa 5 Minuten köcheln lassen.</li>
              <li>Paprika, Lauchzwiebeln, Bambusstreifen und Zitronengras hinzufügen und weitere 5 Minuten köcheln lassen.</li>
              <li>Mit Sojasauce, Rohrzucker, Traubenzucker, gehacktem Ingwer, Knoblauch und schwarzem Pfeffer abschmecken.</li>
              <li>Vor dem Servieren mit frischem Basilikum garnieren.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a routerLink="/page_hauer" routerLinkActive="active" class="btn btn-primary">About me</a>
        <a routerLink="/page_haustiere_hauer" routerLinkActive="active" class="btn btn-primary">Haustiere</a>
        <a routerLink="/home" routerLinkActive="active" class="btn btn-primary back-home">Homepage</a>
      </div>
    </div>
  </div>
</div>
