<app-mainpages-header-friedl></app-mainpages-header-friedl>
<div class="container">
  <div class="salzburggbg">
    <div class="text-content">
      <h1>RB Salzburg</h1>
      <p>Der FC Red Bull Salzburg ist ein Fußballverein aus Salzburg, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele in der Red Bull Arena aus. Die Vereinsfarben sind Rot und Weiß. RB Salzburg ist einer der erfolgreichsten Fußballvereine des Landes.</p>
      <h2>Geschichte</h2>
      <p>Der FC Red Bull Salzburg wurde 1933 als SV Austria Salzburg gegründet, bevor der Verein 2005 von Red Bull übernommen wurde und zu RB Salzburg umbenannt wurde. Der Verein hat sich in den letzten Jahren zu einem dominierenden Team in der österreichischen Bundesliga entwickelt und ist auch regelmäßig in den europäischen Wettbewerben vertreten.</p>
      <p>Die Heimspiele trägt der FC Red Bull Salzburg in der Red Bull Arena aus, die Platz für etwa 30.000 Zuschauer bietet. Das Stadion ist bekannt für seine moderne Architektur und die leidenschaftliche Unterstützung der Fans.</p>
      <p>RB Salzburg hat sich in der österreichischen Fußballszene als eine der führenden Mannschaften etabliert und ist bekannt für seine offensive Spielweise und Erfolge.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1994, 1997, 1998, 2007, 2009, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>2012, 2014, 2015, 2019, 2020</td>
          </tr>
          <tr>
            <td>UEFA Europa League Viertelfinale</td>
            <td>2014</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 9/10</p>
      <p>Management: 8/10</p>
      <p>Vereinsgeschichte: 9/10</p>
      <p>Spielerisch: 9/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
