
$background-color: #f29544; //Hintergrundfarbe Body
$card-background: #260401; //Hintergrundfarbe Karte
$text-color: #f5f5f7; //Farbe für Fließtext
$primary: #f22f1d; //Akzentfarbe (Links, Button, etc.)
$link-hover-color: #f25e3d; //Hoverfarbe für Links

$p_font: 'Calibri', sans-serif; //Font für Fließtext
$h1_font: 'Consolas', sans-serif; //Font für Überschriften

@import "bootstrap/scss/bootstrap";

