
.body {
  background-color: $background-color;
  color: $text-color;
}

.headerSuper {
  font-family: $h1_font;
  text-align: center;
  font-weight: bold;
  color: $primary;
  padding: 20px;
  background-color: $card-background;
  border-radius: 10px;
}

.btn-primary {
  background-color: $primary;
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $link-hover-color;
  }
}

@import "bootstrap/scss/bootstrap";

