
.btn-primary {
  background-color: $primary;
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $link-hover-color;
  }
}

@import "bootstrap/scss/bootstrap";

