
.body {
  background-color: $background-color;
  color: $text-color;
  padding-top: 20px;
  padding-bottom: 100px;
  line-height: 1.6;
  margin: 0;
  font-family: $p_font;
}

.headerSuper {
  font-family: $h1_font;
  text-align: center;
  font-weight: bold;
  color: $background-color;
  padding: 20px;
  margin-left: 40%;
  margin-right: 40%;
  background-color: $text-color;
  border-radius: 10px;
}

.btn-primary {
  background-color: $primary;
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $link-hover-color;
  }
}

@import "bootstrap/scss/bootstrap";

