.fluid-container{
  display: flex;
  width: fit-content;

  margin-left:25px;
  margin-right:50px;

  padding-left:30px;
  padding-top:30px;
  padding-bottom:30px;
  padding-right: 30px;

  background-color: mediumaquamarine;
  flex-direction: row;
  align-items: flex-start;
  gap:25px;
  border-radius: 10px;
}
