<div class="box">
<div class="container-fluid m-5">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">Meine Interessen: Auf dieser Seite werde ich meine größeren Interessen und Hobbies auflisten</p>
      <img src="./assets/assets-majzel/majzel-bilder/Krita.png" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Krita: Krita ist ein Programm welches ich zum zeichnen verwende in welchem ich üblicherweise zuerst etwas auf papier vorzeichnen und dann Digital umsetze</p>
      <img src="./assets/assets-majzel/majzel-bilder/Controller.png" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Spiele: Ein gutes Stück meiner freizeit nutze ich um unterschiedliche Spiele auf entweder Konsolen oder meinem Laptop zu spielen</p>
      <img src="./assets/assets-majzel/majzel-bilder/Cards.png" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Karten: Seit der Volksschule sammle ich Karten aller Arten</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
