<footer class="footer">
  <div class="footer-links">
    <li class="nav-item">
      <a routerLink="/Sturm-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newSturmlogo.png" alt="Sturm Graz">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/FAK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newFAKlogo.png" alt="Austria Wien">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/WAC-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newWAClogo.png" alt="Wolfsberg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Salzburg-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newSalzburglogo.png" alt="RB Salzburg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/LASK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newLASKlogo.png" alt="LASK">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/subpage1-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newRapidlogo.png" alt="Rapid Wien">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/BWL-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/BWLlogo.jpg" alt="Blau-Weiß Linz">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Hartberg-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newHartberglogo.png" alt="Hartberg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Klagenfurt-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/AustriaKlagenfurtlogo.png" alt="Austria Klagenfurt">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/WSG-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newWSGlogo.png" alt="WSG Tirol">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/GAK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newGAKlogo.png" alt="GAK">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Altach-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/newAltachlogo.png" alt="SCR Altach">
      </a>
    </li>
  </div>
</footer>
