<footer class="footer">
  <div class="footer-links">
    <li class="nav-item">
      <a routerLink="/Sturm-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/SturmGrazlogo.jpg" alt="Sturm Graz">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/FAK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Austrialogo.jpg" alt="Austria Wien">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/WAC-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Wolfsberglogo.jpg" alt="Wolfsberg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Salzburg-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/RBSalzburg.jpg" alt="RB Salzburg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/LASK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Lasklogo.jpg" alt="LASK">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/subpage1-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Rapidlogo.jpg" alt="Rapid Wien">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/BWL-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/BWLlogo.jpg" alt="Blau-Weiß Linz">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Hartberg-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Hartberglogo.jpg" alt="Hartberg">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Klagenfurt-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/AustriaKlagenfurtlogo.png" alt="Austria Klagenfurt">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/WSG-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/WSGTirollogo.jpg" alt="WSG Tirol">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/GAK-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/GAKlogo.jpg" alt="GAK">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Altach-friedl" routerLinkActive="active">
        <img src="/assets/Friedl-bilder/Altachlogo.jpg" alt="SCR Altach">
      </a>
    </li>
  </div>
</footer>
