body {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 9998;
  box-shadow: 0 1px 20px rgba(137, 137, 137, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
  display: inline-block;
}

.title.hover-center {
  transform: scale(1.1);
  color: grey;
}

.title.spin-left {
  transform: scale(1.4) rotate(-5deg);
  color: grey;
}

.title.spin-right {
  transform: scale(1.4) rotate(5deg);
  color: grey;
}


.search-container {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  background: none;
  padding: 10px;
  outline: none;
  color: #333;
  transition: transform 0.3s, color 0.3s;
}

.search-bar:hover {
  transform: scale(1.1); /* Scale up */
  color: rgb(0, 0, 0); /* Change color */
}

.menu-icon {
  position: absolute;
  top: 23px;
  left: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.menu-icon span {
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.menu-icon span:nth-child(1) {
  top: 10px;
}

.menu-icon span:nth-child(2) {
  top: 20px;
}

.menu-icon span:nth-child(3) {
  top: 30px;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
  background: #888888;
}

.menu-icon.open span:nth-child(2) {
  transform: rotate(-45deg);
  top: 20px;
  background: transparent;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  top: 30px;
  background: #888888;
}

.menu-icon:hover span {
  background: #888888;
  transform: scale(1.1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -40vh;
  width: 40vh;
  height: 100vh;
  background-color: black;
  z-index: 9998;
  font-family: 'Courier New', Courier, monospace;

  transition: transform 0.3s;
}

.sidebar.open {
  transform: translateX(40vh);
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.3);
}

.sidebar-content {
  padding: 34px;
  margin-top: 12vh;
}

.sidebar-link {
  display: block;
  margin-bottom: 30px;
  color: white;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar-link:hover {
  color: #888888;
  text-decoration: underline;
}

.sidebar-link::selection {
  color: black;
}

::selection {
  background-color: yellow;
}

.background-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  color: #888888;
  pointer-events: none;
  z-index: 9998;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.display {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.2);
  position: absolute;
  white-space: nowrap;
  z-index: 0;
  pointer-events: none;
  transform: translateX(-100%);
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/*Visitenkarte*/

::selection {
  background-color: yellow;
  color: black;
}

body {
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  perspective: 1000px;
}


video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(50%);
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0.3cm;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 8.6cm;
  height: 5.4cm;
  text-align: center;
  transition: transform 0.1s ease-out;

}

.name {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.contact-info {
  text-align: left;
  margin-top: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
}

.value {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.value a {
  text-decoration: none;
  color: #333;
}

.value a:hover {
  text-decoration: underline;
}

/*Design*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 800px;
  width: 100%;
}
.header {
  grid-column: span 2;
  background-color: #d3d3d3;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
.item {
  background-color: #f2e0c9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/*Handyansicht*/

@media screen and (max-width: 430px) {
  body {
    overflow-y: auto;
    padding-bottom: 20px;
  }

  .top-bar {
    padding: 8px;
    gap: 10px;
  }

  .title {
    font-size: 30px;
  }

  .search-container {
    right: 15px;
    top: 25px;
  }

  .menu-icon {
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
  }

  .menu-icon span {
    height: 1.5px;
  }

  .sidebar {
    width: 60vw;
    left: -60vw;
  }

  .sidebar.open {
    transform: translateX(60vw);
  }

  .background-text {
    font-size: 50px;
  }

  .display {
    font-size: 18px;
  }


  .card {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .name {
    font-size: 30px;
  }


  .container {
    display: block;
    grid-column: auto;
  }

  .header, .item {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .header {
    font-size: 18px;
  }

  .item {
    font-size: 16px;
  }
}
