<header class="header">
  <div class="header-container">
    <nav class="nav-links">
      <a routerLink="/home" class="nav-link"><strong>home</strong></a>
      <a routerLink="/page_mutisevic" class="nav-link"><strong>about me</strong></a>
      <a routerLink="/page-music-mutisevic" class="nav-link"><strong>music</strong></a>
      <a routerLink="/page-hobby-mutisevic" class="nav-link"><strong>hobby</strong></a>


    </nav>

    <a href="https://www.htl-donaustadt.at/home" class="logo-container">
      <img src="{{ me.urlImage }}" alt="Logo" class="logo">
    </a>
  </div>
</header>
