<title> Gaming Gamers Gamely </title>
<div id = "gamebod">
  <h1> GAME 1 </h1>
  <h2>In Stars and Time:</h2>
  <p>"In Stars and Time" (abgekürzt ISAT) ist ein 2023 veröffentlichtes rundenbasiertes RPG-Spiel.</p>
  <p>In dem Spiel spielst du als Siffrin, einem Rogue, und folgst einer Abenteurergruppe, als sie den letzten Dungeon ihrer Quest betretten</p>
  <img src="assets/cizmic_assets/ISAT1.png" alt ="Promo art of the game 'In Stars and time'">
  <p>Leider... wirst du sofort von der ersten Falle ausgeschaltet. Die bessere Nachricht ist jedoch, dass du feststellst, dass die Zeit jedes Mal, wenn du stirbst, zum Vortag zurückgedreht wird. Dies gibt dir unendliche Chancen den Dungeon zu überwältigen und den Boss zu besiegen... und diverse andere Dinge zu machen</p>
  <p>Ich persönlich mag dieses Spiel aufgrund seiner Charaktere und der Art und Weise, wie es mit dem Konzept einer Zeitschleife umgeht. Die Art und Weise, wie es jemanden zeigt, der mit jeder neuen Entdeckung zusammenbricht und immer schlimmer wird, ist unglaublich interessant und herzzerreißend</p>

  <div></div>

  <h1> GAME 2 </h1>
  <h2>Ace Attorney:</h2>
  <p>In der "Ace Attorney"-Serie schlüpfst du in die Rolle einer Vielzahl von Anwälten, die bei der "Wright Anything Agency" arbeiten. Ihr Ziel für jeden Fall ist es, sich die Beweise anzusehen, Ihren Mandanten zu verteidigen und ihn schließlich für nicht schuldig zu erklären</p>
  <p>Die meisten Fälle enden jedoch mehr... interessanter als erwartet. Ob es sich um Geistermedien, Clowns oder Zeitreisen handelt, selten wird man einen einfachen Fall in die Hand bekommen</p>
  <img src="assets/cizmic_assets/PA1.png" alt ="Promo art of the game 'Ace Attorney Trilogy'">
  <p>Diese Spiele haben einen besonderen Platz in meinem Herzen, da sie meine ersten Rätsellösespiele waren. Es ist einfach, in sie zu investieren, aber ein bisschen schwer, ihnen am Ende zu folgen, um ehrlich zu sein</p>

  <div></div>

  <h1> GAME 3 </h1>
  <h2>Undertale und...</h2>
  <p>"Undertale" ist ein 2015 veröffentlichtes RPG, das von Toby Fox entwickelt wurde. Du bist ein Mensch und bist in den Untergrund, ein Königreich der Monster, gefallen</p>
  <p>Jetzt versuchst du, mit deinem Leben davonzukommen, während du sprechenden Blumen, wütenden Fischen und Killerrobotern ausweichst</p>
  <img src="assets/cizmic_assets/UTDR1.png" alt ="Undertales Logo">
  <p>Das Hauptgimmick von Undertale, und der Grund, warum es so beliebt ist, ist die Tatsache, dass jeder Feind im Spiel pazifistisch besiegt werden kann, niemand muss sterben</p>
  <p>Es war meine erste echte Erfahrung mit einem Story-Spiel, etwas, das versucht, dich in seine Charaktere und seine Welt zu vertiefen. Also wird es IMMER einen Platz in meinem Herzen haben</p>
  <p>Aber es ist unmöglich, über Undertale zu sprechen, ohne über seine Schwestergeschichte zu sprechen...</p>

  <a routerLink="/page-delta-ciz" routerLinkActive="active"> Deltarune</a>
</div>
