<app-mainpages-header-friedl> </app-mainpages-header-friedl>
<div class="container">
  <div class="hartbergbg">
    <div class="text-content">
      <h1>TSV Hartberg</h1>
      <p>Der TSV Hartberg ist ein Fußballverein aus Hartberg, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Profertil-Stadion aus. Die Vereinsfarben sind Blau und Weiß.</p>
      <h2>Geschichte</h2>
      <p>Der TSV Hartberg wurde 1921 gegründet und hat sich in den letzten Jahrzehnten als etablierter Bundesligist in Österreich einen Namen gemacht. Der Verein spielte lange Zeit in der Ersten Liga, bevor er 2019 den Aufstieg in die Bundesliga schaffte. Das Profertil-Stadion bietet eine besondere Atmosphäre, in der die leidenschaftlichen Fans die Mannschaft unterstützen.</p>
      <p>Die Heimspiele trägt der TSV Hartberg im Profertil-Stadion aus, das Platz für rund 7.000 Zuschauer bietet. In den letzten Jahren hat sich der Verein gut in der Bundesliga behauptet und strebt weiterhin nach oben.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-info table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>2003</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>Keine</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 7/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 6/10</p>
      <p>Spielerisch: 7/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl> </app-mainpages-footer-friedl>
