<!DOCTYPE html>
<html lang="de">

<div class="body">
  <div class="container">
    <h1>Lachssteak mit Spargel</h1>
    <img src="/assets/schoen-bilder/lachssteak_spargel.jpg" width="auto" height="500">
    <p><strong>Zutaten:</strong><br>
      - 2 Lachssteaks<br>
      - 250g grüner Spargel<br>
      - 1 Zitrone<br>
      - 2 EL Olivenöl<br>
      - 1 Knoblauchzehe<br>
      - Salz & Pfeffer<br>
    </p>
    <p><strong>Zubereitung:</strong><br>
      1. Spargel waschen, die holzigen Enden abschneiden.<br>
      2. Lachssteaks mit Zitronensaft, Salz und Pfeffer würzen.<br>
      3. Knoblauch hacken und in Olivenöl anbraten.<br>
      4. Lachs in der Pfanne von beiden Seiten ca. 4 Minuten braten.<br>
      5. Spargel hinzufügen und weitere 5 Minuten garen.<br>
      6. Mit Zitronenscheiben servieren und genießen.<br>
    </p>
    <a href="/page-schoen" class="btn btn-primary" routerLink="" routerLinkActive="active">Back</a>
  </div>
</div>
</html>


