<app-mainpages-header-friedl> </app-mainpages-header-friedl>
<div style="text-align: center;">
  <img src="/assets/Friedl-bilder/BWLlogo.jpg" alt="Blau-Weiß Linz Logo" style="width: 250px; height: auto; vertical-align: middle;">
</div>
  <div class="container">
  <div class="bluebg">
    <div class="text-content">
      <h1>Blau Weiß Linz</h1>
      <p>Der FC Blau-Weiß Linz ist ein Fußballverein aus Linz, Österreich. Der Verein spielt in der 2. Liga und trägt seine Heimspiele im Stadion der Alten Wiese aus. Die Vereinsfarben sind Blau und Weiß. Der FC Blau-Weiß Linz hat eine lange Tradition und ist ein wichtiger Bestandteil des Linzer Sportlebens.</p>
      <h2>Geschichte</h2>
      <p>Der FC Blau-Weiß Linz wurde 1997 gegründet, nachdem der ursprüngliche Verein SV Austria Linz seine Fußballabteilung in die eigenständige Gesellschaft ausgliederte. Die Vereinsfarben Blau und Weiß repräsentieren die Stadt Linz, und das Team hat sich schnell einen Platz im österreichischen Fußball erkämpft. In den ersten Jahren spielte der Verein in der drittklassigen Regionalliga, bevor er 2007 in die Erste Liga aufstieg.</p>
      <p>Die Heimspiele trägt der FC Blau-Weiß Linz im Stadion der Alten Wiese aus, das Platz für rund 19.000 Zuschauer bietet. Das Stadion ist bekannt für seine familiäre Atmosphäre und die leidenschaftlichen Fans des Vereins. In den letzten Jahren hat sich der Verein in der 2. Liga etabliert und strebt weiterhin nach oben.</p>
      <p>Blau-Weiß Linz hat sich in der österreichischen Fußballszene etabliert und konnte sich auch immer wieder in nationalen Wettbewerben behaupten.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-primary table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>2008, 2018</td>
          </tr>
          <tr>
            <td>Meister Dritte Liga</td>
            <td>2004</td>
          </tr>
          <tr>
            <td>Meister Vierte Liga</td>
            <td>2002</td>
          </tr>
          <tr>
            <td>Oberösterreichischer Cupsieger</td>
            <td>2009, 2011, 2017</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 5/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 2/10</p>
      <p>Spielerisch: 5/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl> </app-mainpages-footer-friedl>
