<h1>Hobbies</h1>
<h2>Basteln</h2>
<img src="/assets/assets-WAGN/Basteln.jpg" alt="Beispielbild von Basteln">

<h2>Nähen</h2>
<img src="/assets/assets-WAGN/Nähen.jpg" alt="Foto von einer Nähmaschine" height="auto" width="90%">
<p>Ich versuch mich seit neustem wieder an Nähen. Mein großes Ziel ist es, ein Kostüm zu nähen und damit auf eine Bühne bei einer Convention zu gehen.</p>
<p>Derzeit sind auch die Pläne, Stofftier nähen zu lernen! :D </p>
<h2>Malen</h2>
<img src="/assets/assets-WAGN/MalenuZeichnen.jpg" alt="Foto von Malen und Zeichnen" height="auto" width="90%">
<p>Ich mal unfassbar gerne, egal ob traditionell oder digital. Meistens gerade nur Tiere, aber ich versuch mich auch langsam an die menschliche Anatomie heranzutasten :D</p>
<p>Ich plane auch in der Zukunft einmal eigene Sticker zu machen und freu mich echt schon drauf!</p>
<h3>Beispielbilder von meinen Zeichnungen</h3>
<img src="/assets/assets-WAGN/BeispielMalen1.webp" height="auto" width="70%"><br>
<img src="/assets/assets-WAGN/BeispielMalen2.jpg" height="auto" width="30%">
<img src="/assets/assets-WAGN/BeispielMalen3.jpg" height="auto" width="30%">
<img src="/assets/assets-WAGN/BeispielMalen4.jpg" height="auto" width="30%"><br>
<a routerLink="/page_wagner" routerLinkActive="active"  class="btn btn-primary" >Zurück zur About-Me Seite</a>
