<div class="background">
  <h1>Hobbies</h1>
  <h2>Basteln</h2>
  <img src="/assets/assets-WAGN/Basteln.jpg" alt="Beispielbild von Basteln"><br>
  <p>Wenn ich nicht am Malen oder am Nähen bin, bastel ich in meiner Zeit sehr gerne. Als Beispielfoto hab ich hier, ein
    Joltik, welches ich aus den Gamefiles genommen hab, 3d gedruckt und dann angemalt hab. </p>
  <h3>Beispiel von meinen Bastelarbeiten:</h3>
  <img src="/assets/assets-WAGN/Joltik.webp" height="auto"><br>

  <h2>Nähen</h2>
  <img src="/assets/assets-WAGN/Nähen.jpg" alt="Foto von einer Nähmaschine" height="auto" width="90%">
  <p>Ich versuch mich seit neustem wieder an Nähen. Mein großes Ziel ist es, ein Kostüm zu nähen und damit auf eine
    Bühne
    bei einer Convention zu gehen.</p>
  <p>Derzeit sind auch die Pläne, Stofftier nähen zu lernen! :D </p>
  <h3>Beispiel von meinen Näharbeiten gerade: </h3>
  <img src="/assets/assets-WAGN/Nähenbeispiel%20(2).jpeg" height="auto" width="30%">
  <img src="/assets/assets-WAGN/Nähenbeispiel%20(1).jpeg" height="auto" width="30%">

  <h2>Malen</h2>
  <img src="/assets/assets-WAGN/MalenuZeichnen.jpg" alt="Foto von Malen und Zeichnen" height="auto" width="90%">
  <p>Ich male unfassbar gerne, egal ob traditionell oder digital. Meistens gerade nur Tiere, aber ich versuche mich auch
    langsam an die menschliche Anatomie heranzutasten :D</p>
  <p>Ich plane auch in der Zukunft einmal eigene Sticker zu machen und freu mich echt schon drauf!</p>
  <h3>Beispielbilder von meinen Zeichnungen</h3>
  <!--
  <img src="/assets/assets-WAGN/BeispielMalen1.webp" height="auto" width="70%"><br>
  <img src="/assets/assets-WAGN/BeispielMalen2.jpg" height="auto" width="30%">
  <img src="/assets/assets-WAGN/BeispielMalen3.jpg" height="auto" width="30%">
  <img src="/assets/assets-WAGN/BeispielMalen4.jpg" height="auto" width="30%"><br>
  -->

  <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/assets-WAGN/BeispielMalen4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/assets-WAGN/BeispielMalen2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/assets-WAGN/BeispielMalen3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a>
</div>
