<h1>Hobbies</h1>
<h2>Basteln</h2>
<img src="/assets/assets-WAGN/Basteln.jpg" alt="Beispielbild von Basteln">

<h2>Nähen</h2>
<img src="/assets/assets-WAGN/Nähen.jpg" alt="Foto von einer Nähmaschine">
<h2>Malen</h2>
<img src="/assets/assets-WAGN/MalenuZeichnen.jpg" alt="Foto von Malen und Zeichnen">
<p>Ich mal unfassbar gerne, egal ob traditionell oder digital. Meistens gerade nur Tiere, aber ich versuch mich auch langsam an die menschliche Anatomie heranzutasten :D</p>
<p>Ich plane auch in der Zukunft einmal eigene Sticker zu machen und freu mich echt schon drauf!</p>

<a routerLink="/page_wagner" routerLinkActive="active">Zurück zur About-Me Seite</a>
