
<body>

<div class="fluid-container">

  <div class="image">
    <img class="img-fluid" alt="Responsive image" src="{{ me.urlImage }}" width="350px" alt="Das ist ein Bild"><br>
  </div>

<div class="text">
<h1>
  <span class="test"> {{me.surname}} </span> {{me.firstname}}
</h1>
  <p>
  <span class="headline">Geburtstag:</span> {{me.birthday.getUTCMonth()}}.{{me.birthday.getUTCDay()}}.{{me.birthday.getFullYear()}}
   um {{me.birthday.getHours()}}:{{me.birthday.getMinutes()}}<br>
  <span class="headline">Wohnort:</span> {{me.zip_code}} {{me.city}}<br>
  <span class="headline">Message:</span> {{me.message}}<br>
  <span class="headline">Abteilung:</span> {{me.department}}<br>
  </p>
<a href= "mailto:name@email.com">{{me.email}}</a><br>
<a href= {{me.socialLink}}> Mein Instagram Profil</a><br>
</div>

</div>
<a href="/" routerLink="" routerLinkActive="active" class="btn btn-primary">Back</a>

</body>

