
<body>

<div class="container-flex">

  <div class="image">
    <img src="{{ me.urlImage }}" width="350px" alt="Das ist ein Bild"><br>
  </div>

<div class="text">
<h1>
  <span class="test"> {{me.surname}} </span> {{me.firstname}}
</h1>
<p>Geboren am {{me.birthday.getUTCMonth()}}.{{me.birthday.getUTCDay()}}. {{me.birthday.getFullYear()}}
   um {{me.birthday.getHours()}}:{{me.birthday.getMinutes()}} in {{me.city}}</p>
<a href= "mailto:name@email.com">{{me.email}}</a><br>
<a href= {{me.socialLink}}> Mein Instagram Profil</a><br>
</div>

</div>
<a href="/" routerLink="" routerLinkActive="active" class="btn btn-primary">Back</a>

</body>

