<app-mainpages-header-friedl> </app-mainpages-header-friedl>
<div style="text-align: center;">
  <img src="/assets/Friedl-bilder/AustriaKlagenfurtlogo.png" alt="Austria Klagenfurt Logo" style="width: 330px; height: auto; vertical-align: middle;">
</div>
<div class="container">
  <div class="klagenfurtbg">
    <div class="text-content">
      <h1>Austria Klagenfurt</h1>
      <p>Der SK Austria Klagenfurt ist ein Fußballverein aus Klagenfurt, Österreich. Der Verein spielt in der 2. Liga und trägt seine Heimspiele im Wörthersee-Stadion aus. Die Vereinsfarben sind Blau und Weiß. Der Verein ist in der österreichischen Fußballszene bekannt und etabliert.</p>
      <h2>Geschichte</h2>
      <p>Der SK Austria Klagenfurt wurde 1920 gegründet und hat eine wechselvolle Geschichte hinter sich. Der Verein spielt aktuell in der 2. Liga und strebt eine Rückkehr in die Bundesliga an. Mit seinem historischen Stadion, dem Wörthersee-Stadion, hat der Verein auch international auf sich aufmerksam gemacht.</p>
      <p>Die Heimspiele trägt Austria Klagenfurt im Wörthersee-Stadion aus, das Platz für rund 30.000 Zuschauer bietet und eine fantastische Atmosphäre für Fußballspiele bietet. Das Stadion wurde 2008 umgebaut und gehört mittlerweile zu den modernsten Stadien in Österreich.</p>
      <p>Der Verein ist ein wichtiger Bestandteil der Fußballszene in Kärnten und hat eine große Anhängerschaft in der Region.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>2010, 2021</td>
          </tr>
          <tr>
            <td>Meister Dritte Liga</td>
            <td>2006</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1999</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 7/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 7/10</p>
      <p>Spielerisch: 6/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl> </app-mainpages-footer-friedl>
