<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body fixed-top">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/page_wagner">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_haustiere_wagner">Haustiere</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_hobbies_wagner">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_lieblingsfilmundmusik_wagner">Lieblingsfilm und Lieblingsmusik</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-body-tertiary" style="margin-top: 58px;">
    <h1 class="mb-3">About Me </h1>
  </div>
  <!-- Jumbotron -->
</header>

<div class="center">

<div class="card " style="width: 40rem;">
  <img class="card-img-top" src="{{me.urlImage}}" alt="Card image cap">
  <div class="card-body">
    <h1>About me</h1>
    <h3>{{ me.firstname }} {{ me.surname }}</h3>
    <p>Geburtsdatum: {{me.birthday}}</p>
    <p>Geburtsort: Döbling</p>
    <p>Meine E-Mailadresse: {{me.email}}</p>
    <p> Mein Lieblingsspruch: {{me.message}}</p>
    <p>Hier kommt ihr zu meinen Sozialen Medien:</p>
    <a href="{{me.socialLink}}">
      <img src="/assets/assets-WAGN/instagramicon.png" alt="Das ist ein Bild" height="64" width="64">
    </a>

  </div>
</div>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->

    <section class="mb-4">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Folgt uns auf unseren Social Media Seiten:</span>
      </div>
      <div>
        <a href="https://www.htl-donaustadt.at/home" class="me-4 text-reset" >
      <img src="/assets/assets-WAGN/google.png" alt="google icon" height="auto" width="5%">
        </a>
        <a href="https://www.instagram.com/scalefeatherandfluff/" class="me-4 text-reset">
          <img src="/assets/assets-WAGN/instagramicon.png" alt="google icon" height="auto" width="5%">
        </a>

        <a href="https://github.com/CarinaWagn" class="me-4 text-reset">
          <img src="/assets/assets-WAGN/Github.png" alt="google icon" height="auto" width="5%">
        </a>
      </div>
    </section>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a>
    <a routerLink="/page_haustiere_wagner" routerLinkActive="active" class="btn btn-primary">Zur Haustierseite</a>
    <a routerLink="/page_lieblingsfilmundmusik_wagner" routerLinkActive="active" class="btn btn-primary">Zur Lieblingsfilm- und Lieblingsmusikseite</a>
    <a routerLink="/page_hobbies_wagner" routerLinkActive="active" class="btn btn-primary">Zur Hobbiesseite</a>
    <a routerLink="" routerLinkActive="active" class="btn btn-primary">Zurück zur Homepage</a>
    </section>
    <section>
      <h3>Impressum</h3>
      <p>Name: Carina Wagner</p>
      <p>Email: {{me.email}}</p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Carina Wagner
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
   Zuletzt bearbeitet am 10.03.2025
  </div>
</footer>
