<h3>{{ me.firstname }} {{ me.surname }}</h3>
<p>{{me.birthday}}</p>
<p>Geburtsort: Döbling</p>
<p>{{me.email}}</p>
<p>{{me.message}}</p>
<a href= "{{me.socialLink}}">
<img src="/assets/assets-WAGN/instagramIcon.png"  alt="Das ist ein Bild" height="64" width="64">
</a>
<br>
<a routerLink="/page_haustiere_wagner" routerLinkActive="active" class="btn btn-primary">Zur Haustierseite</a>
<a routerLink="/page_lieblingsfilmundmusik_wagner" routerLinkActive="active" class="btn btn-primary">Zur Lieblingsfilm- und Lieblingsmusikseite</a>
<a routerLink="/page_hobbies_wagner" routerLinkActive="active" class="btn btn-primary">Zur Hobbiesseite</a>
<a routerLink="" routerLinkActive="active" class="btn btn-primary">Zurück zur Homepage</a>
