@import "../metz_variables";

.body {
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: $p_font;
}

.steckbrief {
  background-color: $card-background;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  color: $text-color;
  text-align: center;

  img {
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    font-family: $h1_font;

    .surname {
      text-transform: uppercase;
    }
  }

  .card-text {
    font-size: 16px;
    text-align: left;

    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  a[href^="mailto"] {
    display: inline-block;
    margin-top: 10px;
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $link-hover-color;
    }
  }

  .btn-primary {
    background-color: $primary;
    color: $text-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: $link-hover-color;
    }
  }
}
