<div class="hobbies-seite">
  <div class="hobby-container">
    <h1 class="titel-hobbies">Meine Hobbys</h1>

    <div class="hobby1">
      <h2>Magic the Gathering: Commander</h2>
      <p>Ich spiele gerne das Kartenspiel Magic the Gathering und das Format Commander. Ich finde es sehr lusting, weil ich es zu zweit oder mit bis zu 4 leuten spielen kann,</p>
      <p>Ich spiele es mti meinen Eltern auch regelmäßig und es macht mir viel spaß es regelmäßig mit Freunden zu spielen.</p>
      <p>Das bauen von Decks für das Spiel macht mir auch viel spaß. Mir macht es viel Freude wenn ich ein Deck baue mit einer bestimmten Taktik bauen und wenn diese Taktik dann auch so funktioniert wie ich es mir vorgestellt habe.</p>
      <p>Ich muss jede Runde nicht gewinnen um Spaß zu haben mit Commander. So lange meine deck so funktionierte wie ich mir vorgestellt hatte, dann bin ich glücklich</p>
      < /div>

    <div class="hobby2">
      <h2>Videospiele</h2>
      <p>Videospiele sind ein weiteres meiner Hobbys. Es macht mir eine große Freude meine Freizeit mit verschiedenen Videospielen zu verbringen und welche zu finden in denen ich  gerne viel Zeit reinzustecken.</p>
      <p>Am liebsten verbringe ich ich meine Freizeit mit meinen Lieblingsspielen. Ich mag es sehr in meine Lieblingsspiele viel Zeit reinzustecken unm immer in besser in ihnen zu werden.</p>
      <p>Mein derzeit Liebstes Spiel ist Dead by Daylight und ich darin stecke ich gerne viel Zeit rein um den höchsten Rang zu erreichen. Eines meiner Ziele ist auch gut zu werden mit einigen Charakteren im Spiel.</p>
    </div>

    <a routerLink="/subpage2-radda" routerLinkActive="active" class="btn btn-primary">Lieblings Gericht</a>
  </div>
</div>
