.header {
  background-color: #004B77;
  color: white;
  padding: 20px 0;
}

.header .container-fluid {
  max-width: 1200px;
  width: 100%;
}

.header .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  max-height: 50px;
}

.header .site-name h1 {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 24px;
}

.full-container {
  background-color: #79B0C9;
  border-radius: 20px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-bottom: 60px;
}

.container-fluid {
  max-width: 1200px;
  width: 100%;
}

.profile-box {
  background-color: rgba(0, 86, 179, 0.7);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.image {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-right: 30px;
  border: 3px solid white;
}

.profile-details {
  background-color: #C6E6FB;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-details h1 {
  font-family: 'Lexend Giga', sans-serif;
}

.d-flex.mt-3 {
  gap: 10px;
  color: #004B77;
  display: flex;
  width: 100%;
}

.btn {
  background-color: cornflowerblue;
}

.btn-primary {
  background-color: cornflowerblue;
}

.text-primary {
  color: #004B77;
}

.btn-hover:hover {
  background-color: #006fa6;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.home-btn {
  margin-left: auto;
}

footer {
  margin-top: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #B0C6CE;
  color: #031926;
  width: 100%;
  position: relative;
}

.footer-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  transition: color 0.3s ease;
}

.footer-text:hover {
  color: #031926;
}
