<p>page-about-me-coco works. raah</p>


<div class="card" style="width: 18rem;">
  <img src="/assets/assets-coco/A1D5A4EA-0ACD-4E68-8047-747EB4C39FA9_1_105_c.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Corneliu Secrieri</h5>
    <p class="card-text">* 03.08.2004 in Radauti 🇷🇴</p>
    <p class="card-text">Email: 190284</p>
    <p class="card-text">Adresse: 2434 Götzendorf</p>
    <p class="card-text">Telefonnummer: 133</p>
    <a routerLink="page-home.component.html" routerLinkActive="active">zurück Home</a>
  </div>
</div>
