
body {
  font-family: Elephant, sans-serif;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  background-color: burlywood;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #ff910f;
}
