
body {
  font-family: Elephant, sans-serif;
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin:  auto;
  position: relative;
  overflow: hidden;
  max-height: 90vh;
  transform: translate(-50%, 0%);
  left: 50%;
  right: 50%;
}

.btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  background-color: burlywood;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #ff910f;
}
