<app-mainpages-header-friedl></app-mainpages-header-friedl>
<div class="container">
  <div class="wacbg">
    <div class="text-content">
      <h1>Wolfsberger AC</h1>
      <p>Der Wolfsberger AC ist ein Fußballverein aus Wolfsberg, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Lavanttal-Arena aus. Die Vereinsfarben sind Schwarz und Weiß. Der WAC ist bekannt für seine beeindruckende Entwicklung in den letzten Jahren.</p>
      <h2>Geschichte</h2>
      <p>Der Wolfsberger AC wurde 1931 gegründet und hat sich seitdem als fester Bestandteil der österreichischen Bundesliga etabliert. Der Verein hat sich im Laufe der Jahre von einem kleineren Club zu einem Team entwickelt, das regelmäßig in den europäischen Wettbewerben vertreten ist.</p>
      <p>Die Heimspiele trägt der WAC in der Lavanttal-Arena aus, die Platz für rund 7.500 Zuschauer bietet. Das Stadion ist bekannt für seine gemütliche Atmosphäre und die leidenschaftliche Unterstützung durch die Fans.</p>
      <p>Der WAC hat sich zu einer ernstzunehmenden Kraft in der österreichischen Fußballszene entwickelt und strebt weiterhin nach weiteren Erfolgen in der Bundesliga und in Europa.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga</td>
            <td>2012</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>2019</td>
          </tr>
          <tr>
            <td>Supercupsieger</td>
            <td>2019</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 6/10</p>
      <p>Management: 7/10</p>
      <p>Vereinsgeschichte: 6/10</p>
      <p>Spielerisch: 7/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
