@import '../bootstrap_hauer';

.container-fluid {
  font-family: $main-font;
  @include flex-center;
  min-height: 100vh;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-box {
  background: linear-gradient(to bottom, $primary-purple, $accent-pink);
  padding: 40px 20px;
  border-radius: $container-radius;
  box-shadow: $box-shadow;
  border: 5px solid $gray-shadow;
  max-width: $max-container-width;
  width: 100%;
  margin: auto;
  animation: $fadeIn-animation;
}

.row {
  @include flex-center;
  text-align: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.image-container {
  padding: 0;
  @include flex-center;

  img {
    border: 3px solid $border-color;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
}

.card {
  @include card-style;
  max-width: 100%;
  width: 100%;
  margin-left: 0;

  @media (min-width: 768px) {
    margin-left: 30px;
    max-width: 700px;
  }
}

.link-group {
  display: flex;
  justify-content: center;
  gap: $standard-gap;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
  }
  .test{
    margin-top: 210px;
  }

  .background-box {
    padding: 20px;
    margin-top: 20px;
  }

  .row {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .card {
    margin-left: 0;
    margin-top: 15px;
  }

  .link-group {
    flex-direction: column;
    margin-top: 15px;
  }
}
