@import '../bootstrap_hauer';

.container-fluid {
  font-family: $main-font;
  @include flex-center;
  height: 100vh;
  padding: 20px; // Padding für kleinere Bildschirme hinzufügen
}

.background-box {
  background: linear-gradient(to bottom, $primary-purple, $accent-pink);
  padding: 40px 20px; // Padding anpassen für kleinere Bildschirme
  border-radius: $container-radius;
  box-shadow: $box-shadow;
  border: 5px solid $gray-shadow; // Hier fehlte "solid"
  max-width: $max-container-width;
  width: 100%;
  margin: auto;
  animation: $fadeIn-animation;
}

.row {
  @include flex-center;
  text-align: center;
  flex-direction: column; // Standardmäßig Spaltenrichtung für mobile Geräte

  @media (min-width: 768px) {
    flex-direction: row; // Ab mittleren Bildschirmen wieder Zeilenrichtung
  }
}

.image-container {
  padding: 0;
  @include flex-center;

  img {
    border: 3px solid $border-color;
    border-radius: 10px;
    width: 100%; // Volle Breite auf kleinen Bildschirmen
    max-width: 300px; // Maximale Breite für größere Bildschirme
    height: auto;
    margin-bottom: 20px; // Abstand nach unten auf kleinen Bildschirmen
  }
}

.card {
  @include card-style;
  margin-left: 0; // Kein linker Abstand auf kleinen Bildschirmen
  max-width: 100%; // Volle Breite auf kleinen Bildschirmen
  width: 100%;

  @media (min-width: 768px) {
    margin-left: 30px; // Linker Abstand ab mittleren Bildschirmen
    max-width: 700px; // Maximale Breite für größere Bildschirme
  }

  &-title {
    font-size: 1.8rem;
    color: #333;
  }

  &-text {
    font-size: 1.1rem;
    color: $text-gray;
  }
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: $light-gray;
}

.link-group {
  display: flex;
  justify-content: center;
  gap: $standard-gap;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column; // Buttons untereinander auf kleinen Bildschirmen

  @media (min-width: 768px) {
    flex-direction: row; // Buttons nebeneinander ab mittleren Bildschirmen
  }
}

.btn-primary {
  @include button-style;
  background-color: $dark-purple;

  &:hover {
    background-color: $button-hover;
    transform: scale(1.1);
  }
}

.back-home {
  @include button-style;
  margin-top: 10px;
  background-color: $primary-purple;

  &:hover {
    background-color: $button-hover;
  }
}
