body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: #c9e4ff;
  color: #0f1154;
  justify-content: center;
  align-items: center;
}

card1 {
  justify-content: center;
  align-items: center;
}
