@import "../ciz_variables";

header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#card1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: $bgColor;
  color: $regColor;
  justify-content: center;
  align-items: center;
}

.card-text{
  text-align: center;
}
