.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FAF3E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFE5B4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  text-align: center;
}

.spaghetti {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 15px;
  height: auto;
}

h1 {
  color: #8B4513;
  font-size: 2rem;
  text-align: center;
}

p {
  color: #5C4033;
  font-size: 1rem;
}

a {
  color: white;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6B4F29;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #5C4033;
}


@media (max-width: 768px) {
  .container {
    padding: 15px;
    max-width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

.header {
  background-color: #FFE5B4;
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.header img {
  width: 90px;
  height: auto;
  margin-right: 15px;
}

.header h5 {
  font-size: 35px;
  color: white;
  margin: 0;
  font-family: "Baloo Bhaijaan", cursive;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
img {
  border-radius: 50px;
  box-shadow: 15px 15px 10px white;

}

.footer {
  background-color: #FFE5B4;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  border-top: 5px solid black;
}

.footer-links {
  margin-bottom: 25px;
  text-align: center;
}

.footer-links a {
  color: black;
  margin: 0 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
}

.social-link img {
  margin-right: 10px;
}

.social-link:hover {
  opacity: 0.8;
}

.footer .impressum,
.footer .datenschutz {
  position: relative;
}

.footer .impressum:hover,
.footer .datenschutz:hover {
  text-decoration: underline;
}

.footer-signature {
  margin-top: 20px;
  font-size: 1rem;
  color: #BDC3C7;
  font-style: italic;
}

.footer-signature p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-socials {
    flex-direction: column;
    gap: 10px;
  }
}
