<div class="header">
  <img src="/assets/novo_bilder/PN-LOGO.png" width="100">
  <h5>Philipp Novomesky</h5>
  <div class="nav-links">
    <a routerLink="/page_novo_subpage1" routerLinkActive="active">Trainingsplan</a>
    <a routerLink="/page_novo_subpage2" routerLinkActive="active">Lieblingsessen</a>
  </div>
</div>

<html lang="de">

<div class="body">
<div class="container">
  <h1>Spaghetti Carbonara</h1>
  <img src="/assets/novo_bilder/carbonara_novo.jpg" width="auto" height="500">
  <p><strong>Zutaten:</strong><br>
    - 200g Spaghetti<br>
    - 100g Pancetta oder Speck<br>
    - 2 Eier<br>
    - 50g Parmesan<br>
    - Salz & Pfeffer<br>
  </p>
  <p><strong>Zubereitung:</strong><br>
    1. Spaghetti al dente kochen.<br>
    2. Pancetta in einer Pfanne anbraten.<br>
    3. Eier mit Parmesan verrühren.<br>
    4. Spaghetti mit Pancetta mischen, Eier-Parmesan-Mix dazugeben und verrühren.<br>
    5. Mit Salz & Pfeffer würzen und servieren.
  </p>
    <a href="/page_novo" class="btn btn-primary" routerLink="" routerLinkActive="active">Back</a>
</div>
</div>
</html>
