<body>
<p>page-aboutme-novo works!</p>

<img src="{{ me.urlImage }}" width="350px" alt="Oje das ist nicht gut"><br>
<h2 class="card-title">{{ me.firstname }} {{ me.surname }}</h2>
<a href= "mailto:name@email.com">{{me.email}}</a><br>
<p class="card-text">
  {{me.birthday}}<br>
  <p>Österreich<br>
  {{me.city}}<br>
</p>
<p>Lassee ist die Metropole des einzigartigen Marchfelds(Preisgekröntes Spargelland).</p>

<a href="/" routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a><br>

</body>
