$text-color: #f5f5f7; //Farbe für Fließtext

$p_font: 'Calibri', sans-serif; //Font für Fließtext
$h1_font: 'Consolas', sans-serif; //Font für Überschriften
$a_font: 'Segoe UI', sans-serif; //Font für Links

@import "bootstrap/scss/bootstrap";
