<h1>Lieblingsfilmreihe: SAW</h1>
<img src="/assets/assets-WAGN/SAW.jpg" alt="SawBild">
<br>
<a href="https://www.imdb.com/de/title/tt0387564/">Hier zur IMDB Seite für den ersten Saw Film </a>
<br>
<h1>Lieblingssong(derzeit): Lights On ▶ FNAF SECURITY BREACH SONG </h1>
<img src="/assets/assets-WAGN/Lightson.jpg" alt="Lights on song Bild" width="40%" height="auto">
<br>
<a href="https://www.youtube.com/watch?v=uTPmBE-fArA"> Link zum Song </a>
<br>
<h1>Lieblingsmusiker(derzeit): Jakeneutron</h1>
<img src="/assets/assets-WAGN/Jakeneutron.jpg" alt="Jakeneutrons Profilbild" width="40%" height="auto">
<br>
<a href="https://www.youtube.com/@Jakeneutron">Link zu Jakeneutron</a>
<br>
<h1>Lieblingsband(derzeit): Rare Americans</h1>
<img src="/assets/assets-WAGN/Rare%20americans.jpg" alt="Rare americans bild" width="40%" height="auto">
<br>
<a href="https://www.youtube.com/@RareAmericans">Hier zu den Rare Americans</a>
<br>
<a routerLink="/page_wagner" routerLinkActive="active">Zurück zur About-Me Seite</a>
