<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body fixed-top">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/page_wagner">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_haustiere_wagner">Haustiere</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_hobbies_wagner">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_lieblingsfilmundmusik_wagner">Lieblingsfilm und Lieblingsmusik</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-body-tertiary" style="margin-top: 58px;">
    <h1 class="mb-3">Mein Lieblingsfilm, mein Lieblingslied, mein Lieblingssänger und meine Lieblingsband</h1>
  </div>
  <!-- Jumbotron -->
</header>

<div class="align">
<br>
  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="/assets/assets-WAGN/SAW.jpg" alt="Card image cap">
    <div class="card-body">
      <h1>Lieblingsfilmreihe: SAW</h1>
      <a href="https://www.youtube.com/watch?v=S-1QgOMQ-ls">
        <img src="/assets/assets-WAGN/174883.png" width="5%" class="border" height="auto">
      </a>
      <a href="https://www.imdb.com/de/title/tt0387564/">
        <img src="/assets/assets-WAGN/imdb.webp" width="4%" class="border" height="auto">
      </a>
      <p>"Als zwei Männer, Adam und Dr. Lawrence Gordon, in einem Badezimmer aufwachen, entdecken sie, dass sie von dem
        berüchtigten Mann namens Jigsaw gefangen genommen wurden. Die Männer müssen fliehen, bevor die Zeit abläuft, sonst
        drohen ihnen tödliche Konsequenzen." Rebekah Swain</p>

    </div>
  </div>
  <br>
  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="/assets/assets-WAGN/Lightson.jpg" alt="Card image cap">
    <div class="card-body">
      <h1>Lieblingssong: Lights On ▶ FNAF SECURITY BREACH SONG </h1>
      <a href="https://www.youtube.com/watch?v=uTPmBE-fArA">
        <img src="/assets/assets-WAGN/174883.png" class="border" width="5%" height="auto">
      </a>
      <a
        href="https://open.spotify.com/intl-de/artist/1yH2ZjYHWeStR8K6Z7xYoL?si=sPRGT8CNTvytqf4FfoyASg&nd=1&dlsi=4ebaf30f2d604da8">
        <img src="/assets/assets-WAGN/Spotify.png"  class="border" width="5%" height="auto">
      </a>
      <br>
      <p>Der Song ist ein Fansong zu dem Spiel "Five Nights at Freddys, Security Breach" und handelt von Sun und Moon aus der
        Playcare.</p>
    </div>
  </div>
<br>
  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="/assets/assets-WAGN/Jakeneutron.jpg" alt="Card image cap">
    <div class="card-body">
      <h1>Lieblingsmusiker: Jakeneutron</h1>
      <a href="https://www.youtube.com/@Jakeneutron">
        <img src="/assets/assets-WAGN/174883.png" class="border" width="5%" height="auto">
      </a>
      <a href="https://open.spotify.com/intl-de/artist/7kk9WfnMdCB0K2oEz1ISYD">
        <img src="/assets/assets-WAGN/Spotify.png"  class="border" width="5%" height="auto">
      </a>
      <a href="https://www.jakeneutron.net">
        <img src="/assets/assets-WAGN/Jakeneutron.jpg" class="border" width="5%" height="auto">
      </a>
      <p>Jake Sloan oder Jakeneutron auf Youtube, Instagram, Twitter, etc, arbeitet an Animationen, Music, Digital Art und
        vielen mehr. </p>

    </div>
  </div>
  <br>
  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="/assets/assets-WAGN/Rare%20americans.jpg" alt="Card image cap">
    <div class="card-body">
      <h1>Lieblingsband: Rare Americans</h1>

      <a href="https://www.youtube.com/@RareAmericans">
        <img src="/assets/assets-WAGN/174883.png" class="border" width="5%" height="auto">
      </a>
      <a href="https://open.spotify.com/intl-de/artist/0e5Rda7VQAY786739xp0Jt">
        <img src="/assets/assets-WAGN/Spotify.png"  class="border" width="5%" height="auto">
      </a>
      <a href="https://www.rareamericans.com">
        <img src="/assets/assets-WAGN/RareAmericans.webp"  class="border" width="5%" height="auto">
      </a>
      <br>

      <p>"We're Rare Americans - animated storytellers focused on the real and raw. We sing for the underdogs and don't shy
        away from life's toughest corners. Over the past five years, we've built a pretty dope community of kids around the
        world.</p>
      <p>We've come a long way in 6 years. 6 albums, over half a billion streams, sold out tours across North America and
        Europe, and a Juno nom for Breakthrough Group of the Year (Canadian Grammy equivalent), and we're just hitting our
        stride. 2025 is shaping up to be our biggest year yet, and we're thrilled to have you in our mad universe!"-Rare
        Americans Webseite </p>

    </div>
  </div>
 <a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a>
</div>
