<h1>Lieblingsfilmreihe: SAW</h1>
<img src="/assets/assets-WAGN/SAW.jpg" alt="SawBild" width="40%" height="auto">
<br>
<p>"Als zwei Männer, Adam und Dr. Lawrence Gordon, in einem Badezimmer aufwachen, entdecken sie, dass sie von dem berüchtigten Mann namens Jigsaw gefangen genommen wurden. Die Männer müssen fliehen, bevor die Zeit abläuft, sonst drohen ihnen tödliche Konsequenzen." Rebekah Swain</p>
<a href="https://www.imdb.com/de/title/tt0387564/">Hier zur IMDB Seite für den ersten Saw Film </a>
<br>
<h1>Lieblingssong(derzeit): Lights On ▶ FNAF SECURITY BREACH SONG </h1>
<img src="/assets/assets-WAGN/Lightson.jpg" alt="Lights on song Bild" width="40%" height="auto">
<br>
<a href="https://www.youtube.com/watch?v=uTPmBE-fArA"> Link zum Song </a>
<br>
<h1>Lieblingsmusiker(derzeit): Jakeneutron</h1>
<img src="/assets/assets-WAGN/Jakeneutron.jpg" alt="Jakeneutrons Profilbild" width="40%" height="auto">
<br>
<p>Jake Sloan oder Jakeneutron auf Youtube, Instagram, Twitter, etc, arbeitet an Animationen, Music, Digital Art und vielen mehr. </p>
<a href="https://www.youtube.com/@Jakeneutron">Link zu Jakeneutrons Youtube-Account</a><br>
<a href="https://www.jakeneutron.net">Link zur Webseite von Jakeneutron</a>
<br>
<h1>Lieblingsband(derzeit): Rare Americans</h1>
<img src="/assets/assets-WAGN/Rare%20americans.jpg" alt="Rare americans bild" width="40%" height="auto">
<br>
<a href="https://www.youtube.com/@RareAmericans">Link zum Youtube-Kanal der Rare Americans</a><br>
<a href="https://www.rareamericans.com">Link zur Webseite der Rare Americans </a>
<br>

<p>"We're Rare Americans - animated storytellers focused on the real and raw. We sing for the underdogs and don't shy away from life's toughest corners. Over the past five years, we've built a pretty dope community of kids around the world.</p>
<p>We've come a long way in 6 years. 6 albums, over half a billion streams, sold out tours across North America and Europe, and a Juno nom for Breakthrough Group of the Year (Canadian Grammy equivalent), and we're just hitting our stride. 2025 is shaping up to be our biggest year yet, and we're thrilled to have you in our mad universe!"-Rare Americans Webseite </p>
<a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a>
