<app-mainpages-header-friedl> </app-mainpages-header-friedl>

<div class="container">
  <div class="rapidbg">
    <div class="text-content">
      <h1>Rapid Wien</h1>
      <p>Der SK Rapid Wien ist ein Fußballverein aus Wien, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Allianz Stadion aus. Die Vereinsfarben sind Grün und Weiß. Rapid Wien ist einer der erfolgreichsten und traditionsreichsten Fußballvereine in Österreich.</p>
      <h2>Geschichte</h2>
      <p>Der SK Rapid Wien wurde 1899 gegründet und hat sich seitdem zu einem der erfolgreichsten Fußballvereine des Landes entwickelt. In den frühen Jahren spielte Rapid Wien in den unteren Ligen, bevor der Verein 1920 erstmals in die höchste österreichische Liga aufstieg. In den folgenden Jahrzehnten konnte Rapid Wien zahlreiche Meistertitel und Pokalsiege erringen und etablierte sich als feste Größe im österreichischen Fußball.</p>
      <p>Die Heimspiele trägt Rapid Wien im Allianz Stadion aus, das Platz für 28.000 Zuschauer bietet. Das Stadion ist bekannt für seine lebendige Atmosphäre und die leidenschaftlichen Fans, die die Mannschaft tatkräftig unterstützen.</p>
      <p>Rapid Wien hat eine große Fangemeinde und ist auch in Europa bekannt für seine Auftritte in internationalen Wettbewerben.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1920, 1930, 1946, 1964, 1982, 2008, 2016</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1930, 1935, 1951, 1961, 1983, 1995, 2007, 2010</td>
          </tr>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>1921, 1950</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 10/10</p>
      <p>Management: 8/10</p>
      <p>Vereinsgeschichte: 10/10</p>
      <p>Spielerisch: 9/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl> </app-mainpages-footer-friedl>
