@import "variables-pojar";

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightsteelblue; /* Gleiche Farbe auf beiden Elementen */
  overflow-x: hidden;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  background-color: #dce6f5;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto; /* Höhe der Karte dynamisch */
  width: 60vw;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.Bild {
  padding: 10px;
  flex: 1 1 40%;
  max-width: 40%;
  text-align: center;
}

.Bild img {
  width: 100%;
  height: auto;
  max-height: 85vh;
}

h1 {
  font-family: Tahoma;
  font-size: 7vw;
  line-height: 1.2;
}

h6, p {
  font-size: 3vh;
  line-height: 1.5;
}

h5 {
  font-family: "Kunstler Script", cursive;
  font-size: 5vh;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 70vw;
    height: auto;
  }
  h1 {
    font-size: 6vw;
  }
  h6, p, h5 {
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 90vw;
    margin: 10px;
    height: auto;
  }
  h1 {
    font-size: 8vw;
  }
  h6, p, h5 {
    font-size: 3vh;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .Bild {
    max-width: 100%;
  }
  .knopf {
    flex-direction: row; /* Buttons nebeneinander */
    align-items: center; /* Buttons ausrichten */
    justify-content: flex-start; /* Buttons am Anfang der Zeile ausrichten */
    gap: 5px; /* Kleiner Abstand zwischen den Buttons */
  }
}

.knopf {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Buttons am Anfang ausrichten */
  gap: 5px; /* Kleiner Abstand */
  margin-top: 20px; /* Abstand nach oben */
}

.speck {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.instadarm, .email {
  display: inline-block;
}

.instadarm img{
  max-width: 50px;
  height: auto;
}

.email img {
  width: 80px;
  height: auto;
}





