<div class="box">
<div class="container-fluid m-5">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">Auf dieser Seite Zeige ich Orte und Länder in welchen ich bereits war und Bilder die ich dort gemacht habe</p>
      <img src="./assets/assets-majzel/majzel-bilder/Welt.jpeg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Europa:</p>
      <img src="./assets/assets-majzel/majzel-bilder/griechenland.jpg" class="card-img-top" width="20c" alt="...">
      <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
        <h4>Griechenland</h4>
        <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/ireland.png" class="card-img-top" width="20c" alt="...">
        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
          <h4>Irland</h4>
          <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Italien.png" class="card-img-top" width="20c" alt="...">
          <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
            <h4>Italien</h4>
            <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Portugal.png" class="card-img-top" width="20c" alt="...">
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
              <h4>Portugal</h4>
              <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Slowenien.jpg" class="card-img-top" width="20c" alt="...">
              <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h4>Slowenien</h4>
                <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Spanien.gif" class="card-img-top" width="20c" alt="...">
                <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                  <h4>Spanien</h4>
                  <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Ungarn.jpg" class="card-img-top" width="20c" alt="...">
                  <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                    <h4>Ungarn</h4>
                    <p class="m-0">paragraph</p>
      <p class="card-text">Nordamerika:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Arizona.jpg" class="card-img-top" width="20c" alt="...">
                    <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                      <h4>Arizona</h4>
                      <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Californien.jpg" class="card-img-top" width="20c" alt="...">
                      <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                        <h4>Californien</h4>
                        <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Canada.png" class="card-img-top" width="20c" alt="...">
                        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                          <h4>Canada</h4>
                          <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Florida.jpg" class="card-img-top" width="20c" alt="...">
                          <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                            <h4>Florida</h4>
                            <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Mexiko.jpg" class="card-img-top" width="20c" alt="...">
                            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                              <h4>Mexiko</h4>
                              <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Nevada.jpg" class="card-img-top" width="20c" alt="...">
                              <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                                <h4>Nevada</h4>
                                <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/New England.jpg" class="card-img-top" width="20c" alt="...">
                                <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                                  <h4>New England</h4>
                                  <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/New York.jpg" class="card-img-top" width="20c" alt="...">
      <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
        <h4>New York</h4>
        <p class="m-0">paragraph</p>
        <p class="card-text">Asien:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Japan.jpg" class="card-img-top" width="20c" alt="...">
          <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
            <h4>Japan</h4>
            <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/Süd Korea.jpg" class="card-img-top" width="20c" alt="...">
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
              <h4>Süd Korea</h4>
              <p class="m-0">paragraph</p>
      <img src="./assets/assets-majzel/majzel-bilder/thailand.jpg" class="card-img-top" width="20c" alt="...">
              <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h4>Thailand</h4>
                <p class="m-0">paragraph</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
