<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Lieblingslieder</title>
  <link rel="stylesheet" href="page-lieblingsmusik-zhou.component.scss">
</head>
<body>

<h1>Musik die Leiwand sind</h1>

<div class="songs">
  <div class="song">
    <img src="/assets/zhou-bilder/artists/welcome_to_my_planet.jpg" alt="Artist 4">
    <h2>Welcome to My Planet</h2>
    <p>von <strong>Pomplamoose</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/5cFgRZch0Nh8VP2GsG0CXS" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=raG_68yaz_k" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/zhou-bilder/artists/flying_fish.jpg" alt="Artist 2">
    <h2>Flying Fish</h2>
    <p>von <strong>Sion</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/5HO1YaPiPucR5esu1XEHDQ" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=ACWHGhi-Ckg" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/zhou-bilder/artists/sudoname.jpg" alt="Artist 3">
    <h2>Moonsetter</h2>
    <p>von <strong>SudoName</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/54z3RmcOd1zkkfvHMcmGMb" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=uDG3dvXuR9M" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/zhou-bilder/artists/free_breakfast.jpg" alt="Artist 4">
    <h2>Is there free breakfast here?</h2>
    <p>von <strong>Hotel Ugly</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/30jui3PqevssdIVpjEWM38" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=e8WeW8ec0SQ" target="_blank">📺 YouTube</a>
    </div>
  </div>

  <div class="song">
    <img src="/assets/zhou-bilder/artists/she.jpg" alt="Artist 4">
    <h2>She</h2>
    <p>von <strong>Ethan Gander</strong></p>
    <div class="links">
      <a href="https://open.spotify.com/intl-de/track/1nYc5bAuFnAII0HAg4oyBZ" target="_blank">🎧 Spotify</a>
      <a href="https://www.youtube.com/watch?v=dtRsjnJ7T-s" target="_blank">📺 YouTube</a>
    </div>

  </div>
</div>

</body>
</html>

<a routerLink="/page_zhou" routerLinkActive="active" class="btn btn-primary">Back</a>
