

<header>
  <h1>My Journey</h1>
  <p>A journey from the Philippines to moving to Vienna, with unforgettable travels and dreams for more adventures!</p>
</header>

<section>
  <h2>Born in the Philippines</h2>
  <p>I was born in the Philippines. I grew up with my Grandparents while my mom and dad work overseas. At the age of 8 my mom flew to Taipeh,Taiwan. I was devastated. I cried every night. And my dad.. I never really have had a close relationship with him. Until now i am not close. </p>
  <div class="image" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
    <img src="assets/garcia_bilder/meGraduate.jpg" alt="Born in the Philippines"
         style="max-width: 30%; height: auto; object-fit: contain; border-radius: 20px; border: 3px solid white;">
  </div>
</section>

<section>
  <h2>Moving to Vienna</h2>
  <p>At the age of 11 turning 12 I flew to Vienna. I didn't know the language first and I missed my homeland. Of course I still miss my country however after a long time I manage to adapt new living in this country.</p>
</section>

<section>
  <h2>Study</h2>
  <p>Already on the first month, I already went to school without even talking in whole sentences. I went to Gymnasium in Groß-Enzersdorf. I really did not have many friends but i had fun with few of them. After 2 Years I change school to HTL-Donaustadt. Now I'm here. </p>
</section>

<section>
  <h2>Vacation Destinations</h2>
  <p>I’ve visited:</p>
  <ul>
    <li><strong>Croatia</strong></li>
      <p>I was with mny family 3-4 years ago in Krk,Croatia. I really loved driving there with my family. It was also one of my very first country i visited. I would like to visit it again. I want to swim and see the beautiful atmosphere there. </p>
    <li><strong>Venice</strong></li>
      <p>Then I celebrate my 12 Birthday in Venice. I was so happy. There i got my first Phone</p>
    <li><strong>Bratislava</strong></li>
      <p>I went with my family here, however i cannot really recall it anymore. I think I had fun there.</p>
    <li><strong>Budapest</strong></li>
      <p>It was really pretty. I liked travelling there eventho it's kinda far.</p>
    <li><strong>Prague</strong> </li>
      <p>Here i was my last outside Austria trip. I went with my Lola there and only my aunts.</p>
  </ul>


  <div class="vacation-collage-container">
    <div class="vacation-collage">
      <div class="vacation-image">
        <img src="assets/garcia_bilder/bratislava.jpg" alt="Bratislava">
        <div class="overlay"></div>
        <div class="image-overlay">Bratislava</div>
      </div>
      <div class="vacation-image">
        <img src="assets/garcia_bilder/budapest.jpg" alt="Budapest">
        <div class="overlay"></div>
        <div class="image-overlay">Budapest</div>
      </div>
      <div class="vacation-image">
        <img src="assets/garcia_bilder/krk.jpg" alt="Krk">
        <div class="overlay"></div>
        <div class="image-overlay">Krk</div>
      </div>
      <div class="vacation-image">
        <img src="assets/garcia_bilder/prag.jpg" alt="Prague">
        <div class="overlay"></div>
        <div class="image-overlay">Prague</div>
      </div>
      <div class="vacation-image">
        <img src="assets/garcia_bilder/venice.jpg" alt="Venice">
        <div class="overlay"></div>
        <div class="image-overlay">Venice</div>
      </div>
    </div>
  </div>
</section>



<section>
  <h2>Future Travel Dreams</h2>
  <p>There are still many places I dream of visiting. Some of the top destinations on my list include:</p>
  <ul>
    <li>Maldives </li>
    <li>Barcelona </li>
    <li>Bali </li>
    <li>Paris</li>
    <li>Singapore </li>
    <li>Dubai </li>
  </ul>
</section>

<a routerLink="/page_garcia" routerLinkActive="active" class="btn btn-primary">Back</a>


