

<header>
  <h1>Where I am Today</h1>
  <p>A journey from the Philippines to moving to Vienna!</p>
</header>

<section>
  <h2>Born in the Philippines</h2>
  <p>I was born in the Philippines. I grew up with my Grandparents while my mom and dad work overseas. At the age of 8 my mom flew to Taipeh,Taiwan. I was devastated. I cried every night. And my dad.. I never really have had a close relationship with him. Until now i am not close. </p>
  <div class="image" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
    <img src="assets/garcia_bilder/meGraduate.jpg" alt="Born in the Philippines"
         style="max-width: 30%; height: auto; object-fit: contain; border-radius: 20px; border: 3px solid white;">
  </div>
</section>

<section>
  <h2>Moving to Vienna</h2>
  <p>At the age of 11 turning 12 I flew to Vienna. I didn't know the language first and I missed my homeland. Of course I still miss my country however after a long time I manage to adapt new living in this country.</p>
</section>

<section>
  <h2>Study</h2>
  <p>Already on the first month, I already went to school without even talking in whole sentences. I went to Gymnasium in Groß-Enzersdorf. I really did not have many friends but i had fun with few of them. After 2 Years I change school to HTL-Donaustadt. Now I'm here. </p>
</section>

<div class="container">
<a routerLink="/page_garcia" routerLinkActive="active" class="btn">Back</a>
</div>

