<div class="table-container">
  <h1>Österreichische Bundesliga 2024/25</h1>
  <h2>Last update: 27.1.25</h2>

  <table class="table table-success table-striped">
    <thead>
    <tr>
      <th scope="col" class="large-text">#</th>
      <th scope="col" class="large-text bold-text">Verein</th>
      <th scope="col" class="large-text">SP</th>
      <th scope="col" class="large-text">S</th>
      <th scope="col" class="large-text">U</th>
      <th scope="col" class="large-text">N</th>
      <th scope="col" class="large-text">Tordiff</th>
      <th scope="col" class="large-text bold-text">Pkt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a routerLink="/Sturm-friedl" routerLinkActive="active">Sturm Graz</a></td>
      <td>16</td>
      <td>11</td>
      <td>3</td>
      <td>2</td>
      <td>24</td>
      <td class="bold-text">36</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a routerLink="/FAK-friedl" routerLinkActive="active">Austria Wien</a></td>
      <td>16</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>12</td>
      <td class="bold-text">33</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a routerLink="/subpage1-friedl" routerLinkActive="active">Rapid Wien</a></td>
      <td>16</td>
      <td>7</td>
      <td>7</td>
      <td>2</td>
      <td>5</td>
      <td class="bold-text">28</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a routerLink="/WAC-friedl" routerLinkActive="active">Wolfsberg</a></td>
      <td>16</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>8</td>
      <td class="bold-text">26</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a routerLink="/Salzburg-friedl" routerLinkActive="active">RB Salzburg</a></td>
      <td>16</td>
      <td>7</td>
      <td>5</td>
      <td>4</td>
      <td>7</td>
      <td class="bold-text">26</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a routerLink="/BWL-friedl" routerLinkActive="active">Blau-Weiß Linz</a></td>
      <td>16</td>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>-1</td>
      <td class="bold-text">23</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><a routerLink="/LASK-friedl" routerLinkActive="active">LASK</a></td>
      <td>16</td>
      <td>6</td>
      <td>2</td>
      <td>8</td>
      <td>-2</td>
      <td class="bold-text">20</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><a routerLink="/Hartberg-friedl" routerLinkActive="active">Hartberg</a></td>
      <td>16</td>
      <td>5</td>
      <td>16</td>
      <td>16</td>
      <td>16</td>
      <td class="bold-text">16</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><a routerLink="/WSG-friedl" routerLinkActive="active">WSG Tirol</a></td>
      <td>16</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>-7</td>
      <td class="bold-text">16</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><a routerLink="/Klagenfurt-friedl" routerLinkActive="active">Austria Klagenfurt</a></td>
      <td>16</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>-21</td>
      <td class="bold-text">15</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td><a routerLink="/GAK-friedl" routerLinkActive="active">GAK</a></td>
      <td>16</td>
      <td>2</td>
      <td>6</td>
      <td>8</td>
      <td>-12</td>
      <td class="bold-text">12</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td><a routerLink="/Altach-friedl" routerLinkActive="active">SCR Altach</a></td>
      <td>16</td>
      <td>2</td>
      <td>4</td>
      <td>10</td>
      <td>-11</td>
      <td class="bold-text">10</td>
    </tr>
    </tbody>
  </table>
<p>(Vereine und meine Vereinsbewertung ansehen, indem man auf die Namen klickt)</p>
  <h1>Österreichische 2. Bundesliga 2024/25</h1>

  <table class="table table-success table-striped">
    <thead>
    <tr>
      <th scope="col" class="large-text">#</th>
      <th scope="col" class="large-text bold-text">Verein</th>
      <th scope="col" class="large-text">SP</th>
      <th scope="col" class="large-text">S</th>
      <th scope="col" class="large-text">U</th>
      <th scope="col" class="large-text">N</th>
      <th scope="col" class="large-text">Tordiff</th>
      <th scope="col" class="large-text bold-text">Pkt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="bold-text">Admira</td>
      <td>16</td>
      <td>12</td>
      <td>2</td>
      <td>2</td>
      <td>26</td>
      <td class="bold-text">38</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class="bold-text">Ried</td>
      <td>16</td>
      <td>11</td>
      <td>2</td>
      <td>3</td>
      <td>19</td>
      <td class="bold-text">35</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="bold-text">Vienna</td>
      <td>16</td>
      <td>10</td>
      <td>1</td>
      <td>5</td>
      <td>9</td>
      <td class="bold-text">31</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td class="bold-text">Bregenz</td>
      <td>16</td>
      <td>8</td>
      <td>5</td>
      <td>3</td>
      <td>7</td>
      <td class="bold-text">29</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td class="bold-text">Rapid II</td>
      <td>16</td>
      <td>8</td>
      <td>3</td>
      <td>5</td>
      <td>9</td>
      <td class="bold-text">27</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td class="bold-text">Amstetten</td>
      <td>16</td>
      <td>8</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td class="bold-text">26</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td class="bold-text">Kapfenberger</td>
      <td>16</td>
      <td>8</td>
      <td>1</td>
      <td>7</td>
      <td>-5</td>
      <td class="bold-text">25</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td class="bold-text">St. Pölten</td>
      <td>16</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>7</td>
      <td class="bold-text">25</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td class="bold-text">Sturm Graz II</td>
      <td>16</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td class="bold-text">21</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td class="bold-text">Austria Lustenau</td>
      <td>16</td>
      <td>3</td>
      <td>10</td>
      <td>3</td>
      <td>-1</td>
      <td class="bold-text">19</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td class="bold-text">Liefering</td>
      <td>16</td>
      <td>5</td>
      <td>4</td>
      <td>7</td>
      <td>-7</td>
      <td class="bold-text">19</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td class="bold-text">Voitsberg</td>
      <td>16</td>
      <td>5</td>
      <td>2</td>
      <td>9</td>
      <td>-4</td>
      <td class="bold-text">17</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td class="bold-text">FAC</td>
      <td>16</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>-5</td>
      <td class="bold-text">16</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td class="bold-text">Lafnitz</td>
      <td>16</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>-20</td>
      <td class="bold-text">9</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td class="bold-text">Stripfing</td>
      <td>16</td>
      <td>1</td>
      <td>6</td>
      <td>9</td>
      <td>-10</td>
      <td class="bold-text">9</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td class="bold-text">Horn</td>
      <td>16</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
      <td>-25</td>
      <td class="bold-text">9</td>
    </tr>
    </tbody>
  </table>

  <h2>Last update: 27.1.25</h2>
  <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
  <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
</div>
