<app-header-coco></app-header-coco>


<div class="container d-flex justify-content-center my-4 mb-5">

  <div id="mobile-box">


    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img class="card-img-top" src="https://m.media-amazon.com/images/I/71YyBDiqjxL._AC_SL1500_.jpg"
             alt="Card image cap">
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body text-center">

        <h5 class="h5 font-weight-bold"><a routerLink="/page_coco" >coco.</a></h5>
        <p class="mb-0">just a taste to my music.</p>

        <audio id="music" preload="true">
          <source src="#">
        </audio>
        <div id="audioplayer">
          <i id="pButton" class="fas fa-play"></i>
          <div id="timeline">
            <div id="playhead"></div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<app-footer-coco></app-footer-coco>

