<head>
  <title>Cizmic Site</title>
  <link rel="stylesheet" href="page-about-me-cizmic.component.scss">
</head>

<body>
<h3> Die Seite von: {{ elCi.firstname }} <span style="text-transform:uppercase;">{{ elCi.surname }}</span> </h3>
<p> {{elCi.message}}</p>
<img src="{{elCi.urlImage}}" alt ="A Crappy drawing of Sonic the Hedgehog, the Text 'This is a Photo, I usually draw better than this' is written at the top of it">
<p>^Hier ist ein bild^</p>

<p> Ich wurde geboren am {{elCi.birthday}} und lebe in {{elCi.zip_code}} {{elCi.city}}</p>
<p> Meine schul E-Mail ist {{elCi.email}}</p>
<p> Mein total echter Social Media link ist {{elCi.socialLink}} </p>
</body>

