<div class="body">
<h1>Meine Reviews 😛</h1>
<ul class="alben d-flex flex-column">
  <li *ngFor="let album of alben  | orderBy: 'interpret' ; let i = index" class="col-auto">
    <img src="{{album.coverLink}}" width="300px" height="auto" alt="Cover von {{album.title}}">
    <h2 class="header"><b><a href="{{album.rymLink}}">{{album.titel}}</a></b></h2>
    <h3 class="header">{{album.interpret}} ({{album.erscheinungsdatum.getFullYear()}})</h3>
    <br>
    <p>{{album.review1}}<br><br>
        {{album.review2}}<br><br>
        {{album.review3}}<br><br>
      <i>"{{album.quote}}"</i>
    </p>
  </li>
</ul>
  <div class="buttongrid">
    <a class="btn btn-primary" routerLink="/page_metz" routerLinkActive="active">Steckbrief</a>
    <a class="btn btn-primary" routerLink="/home" routerLinkActive="active">Startseite</a>
  </div>
</div>
