<div class="body">
<h1 class="header">Meine Reviews</h1>
  <div class="toggle-buttons d-flex justify-content-center">
    <button class="btn btn-secondary" (click)="showMusicReviews()" [class.active]="isMusicActive">Alben</button>
    <button class="btn btn-secondary" (click)="showFilmReviews()" [class.active]="!isMusicActive">Filme</button>
  </div>
  <ul class="alben d-flex flex-column" *ngIf="isMusicActive">
    <li *ngFor="let album of alben | orderBy: 'interpret'; let i = index" class="col-auto">
      <img src="{{album.coverLink}}" width="300px" height="auto" alt="Cover von {{album.title}}">
      <h2 class="header"><b><a href="{{album.rymLink}}">{{album.titel}}</a></b></h2>
      <h3 class="header">{{album.interpret}} ({{album.erscheinungsdatum.getFullYear()}})</h3>
      <br>
      <p>
        <span *ngFor="let review of album.review">{{review}}<br><br></span><br>
        <i><span *ngFor="let quote of album.quote">{{quote}}<br></span></i>
      </p>
      <br>
      <div class="rating">Rating: {{album.rating}}/5</div>
    </li>
  </ul>
  <ul class="filme d-flex flex-column" *ngIf="!isMusicActive">
    <li *ngFor="let film of filme | orderBy: 'directorNachname'; let i = index" class="col-auto">
      <img src="{{film.coverLink}}" width="300px" height="auto" alt="Cover von {{film.titel}}">
      <h2 class="header"><b><a href="https://www.imdb.com/title/{{film.imdbLink}}/">{{film.titel}} ({{film.releaseDate.getFullYear()}})</a></b></h2>
      <h3 class="header">{{film.directorVorname}} {{film.directorNachname}}</h3>
      <br>
      <p>
        <span *ngFor="let review of film.review">{{review}}<br><br></span><br>
        <i><span *ngFor="let quote of film.quote">{{quote}}<br></span></i>
      </p>
      <br>
      <div class="rating">Rating: {{film.rating}}/5</div>
    </li>
  </ul>
  <div class="buttongrid">
    <a class="btn btn-primary" routerLink="/page_metz" routerLinkActive="active">Steckbrief</a>
    <a class="btn btn-primary" routerLink="/home" routerLinkActive="active">Startseite</a>
  </div>
</div>
