<div class="container-fluid m-5">
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text">Polen ist das Land aus dem beide meine Eltern herkommen weswegen ich auf dieser Seite auf dieses Land eingehen werde:</p>
      <p class="card-text">Karte 1 & 2:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Polen1.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Polen2.png" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Hauptstadt: Warschau</p>
      <img src="./assets/assets-majzel/majzel-bilder/Warschau 1.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Karte 1 & 2:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Warschau 2.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Karte 1 & 2:</p>
      <p class="card-text">Essen:  </p>
      <img src="./assets/assets-majzel/majzel-bilder/bigos.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Bigos ist ein Eintopf der mit Sauerkraut und verschiedenen Fleischarten gemacht wird:</p>
      <img src="./assets/assets-majzel/majzel-bilder/pierogi.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Pierogi ist die polnsiche Variante von Teigtaschen welche üblicherweise in einer Halbkreisform gemacht werden. Was füllung angeht gibt es Pierogi sowohl in Salzig als auch Süß:</p>
      <img src="./assets/assets-majzel/majzel-bilder/zurek.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Eine Suppe welche mit einem Hartgekochten in die hälfte geschnitteten Ei und gestückeltem Kabanos serviert wird, die Suppe wird entweder mit Mehl oder einer Sauerteigbrühe gemacht was einen unkonventionellen Geschmack mit sich führt. Was man hierzu noch dazutun kann sind Kartoffeln und Majoran oder saisonales Gemüse.:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Oszczypek.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Oszypek ist ein geräucherter Schafskäse welcher am besten in geschmolzenen Zustand zu essen ist, es kann allein, mit Brot oder im Speckmantel serveirt werden:</p>
      <p class="card-text">Sehenswürdigkeiten</p>
      <img src="./assets/assets-majzel/majzel-bilder/Drache von Wawel.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Der Drache von Wawel ist eine Statue die einen Drachen aus einer Sage die die danebenliegende gleichnamige Burg beeinhaltet. Die Statue kann alle paar minuten feuer gesehen werden:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Grab des Unbekannten Soldaten.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Das Grab des unbekannten Soldaten soll an die Kriege der Vergangenheit errinern und wird zu jeder zeit von Soldaten bewacht welche man um dieses herumgehen sehen kann sowie zu bestimmten Zeiten die Wachablöse:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Hafen Stettin.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Der Hafen in Stettin ist eine schöne Sehenswürdigkeit, besonders lohnt es sich hier  gegen Abend und Nacht herumzugehen:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Kulturpalast Warschau.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Der Kulturpalast ist ein Zentraler punkt in der Statd von dessen aussichtsplatform man einen guten Überblick über die Stadt hat und in dem man immer wechselnde Ausstellungen ansehen kann:</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>

