<div class="container-fluid m-5">
  <div class="card" style="width: 20rem;">
    <img src="{{ me.urlImage}}" class="card-img-top" width="20c" alt="...">
    <div class="card-body">
      <p class="card-text">Polen ist das Land aus dem beide meine Eltern herkommen weswegen ich auf dieser Seite auf dieses Land eingehen werde:</p>
      <p class="card-text">Karte 1 & 2:</p>
      <img src="./assets/assets-majzel/majzel-bilder/Polen1.jpg" class="card-img-top" width="20c" alt="...">
      <img src=".public/assets/assets-majzel/majzel-bilder/Polen2.png" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Hauptstadt: Warschau</p>
      <img src="./assets/assets-majzel/majzel-bilder/Warschau 1.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Warschau 2.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Essen:  </p>
      <img src="./assets/assets-majzel/majzel-bilder/bigos.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/pierogi.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/zurek.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Oszczypek.jpg" class="card-img-top" width="20c" alt="...">
      <p class="card-text">Sehenswürdigkeiten</p>
      <img src="./assets/assets-majzel/majzel-bilder/Drache von Wawel.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Grab des Unbekannten Soldaten.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Hafen Stettin.jpg" class="card-img-top" width="20c" alt="...">
      <img src="./assets/assets-majzel/majzel-bilder/Kulturpalast Warschau.jpg" class="card-img-top" width="20c" alt="...">
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
