<div class="container-fluid m-5" style="background-color: beige;">
  <div class="card" style="width: 24rem;">
    <img src="{{ me.urlImage }}" class="card-img-top" alt="..." style="border: 3px solid #8B4513; border-radius: 5px;">
    <div class="card-body">
      <h5 class="card-title">{{ me.firstname }} {{ me.surname }}</h5>
      <p class="card-text">{{me.message}}</p>
      <a href={{me.socialLink}}> => INSTA </a><br>
      <p class="card-text">
        <strong>Geboren am:</strong> {{me.birthday}}
      </p>
      <a href="mailto:name@email.com">{{me.email}}</a><br>
      <p class="card-text">
        <strong>Wohnort:</strong> {{me.zip_code}} {{ me.city }}
      </p>
      <p class="card-text">
        <strong>Mein Github Username:</strong> {{me.github_nickname}}
      </p>
      <p class="card-text">
        <strong>Die Abteilung:</strong> {{me.department}}
      </p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">zurück home</a>
    </div>
  </div>
</div>
