<div class="site-header">
  <div class="logo-title">
    <p>Hauers Seiten</p>
  </div>

  <div class="burger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/page_hauer" routerLinkActive="active">Über mich</a></li>
      <li><a routerLink="/page_haustiere_hauer" routerLinkActive="active" >Haustiere</a></li>
      <li><a routerLink="/page_lieblingsessen_hauer" routerLinkActive="active" >Lieblingsessen</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Homepage</a></li>
    </ul>
  </nav>
</div>
