<div class="container mt-5">
  <h1 class="text-center">Lieblings Musik</h1>

  <h2 class="mt-4">Lieblings Song of All Time</h2>
  <p class="lead">Hier ist mein absoluter Lieblingssong aller Zeiten:</p>
  <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
    <iframe src="https://open.spotify.com/embed/track/4QlzkaRHtU8gAdwqjWmO8n?si=96cda1b4ccbb4fc1"
            width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <p class="mt-2 text-center"><strong>Friday I'm in Love</strong> – The Cure</p>
  <p class="text-center">Ein klassisches Liebeslied, das die düsteren Seiten der Liebe mit einem fröhlichen und mitreißenden Klang vereint.</p>

  <h2 class="mt-4">Lieblings Song (Zur Zeit):</h2>
  <p class="lead">Mein momentaner Lieblingssong ist:</p>
  <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
    <iframe src="https://open.spotify.com/embed/track/75hwtYcghca6YKW4i6C6fP?si=e17988df2c18495d"
            width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <p class="mt-2 text-center"><strong>Drunk Drivers/Killer Whales</strong> – Car Seat Headrest</p>
  <p class="text-center">Ein tiefgründiges Stück über das Gefühl der Verwirrung und den inneren Kampf zwischen den eigenen Ängsten und der Sehnsucht nach einem besseren Leben.</p>

  <h2 class="mt-4">Top-5:</h2>
  <ul class="list-unstyled">
    <li class="text-center">
      <strong>2.</strong>
      <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
        <iframe src="https://open.spotify.com/embed/track/4vsoWZcvtvSsE0OiVvDDvX?si=4f4a0ebcdf1c4afb"
                width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <p class="mt-2"><strong>Harness Your Hopes</strong> – Pavement</p>
      <p>Ein entspannter Song mit einer Mischung aus Melancholie und Hoffnung, der die schwierige Kunst des Sich-selbst-Verstehens thematisiert.</p>
    </li>
    <li class="text-center">
      <strong>3.</strong>
      <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
        <iframe src="https://open.spotify.com/embed/track/2OcJNw7K8cYs4FKoh8aEow?si=c9e37394aa9e4c05"
                width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <p class="mt-2"><strong>Coin-Operated Boy</strong> – The Dresden Dolls</p>
      <p>Ein humorvoller, aber auch nachdenklicher Song über die unerreichbare Perfektion von Maschinen und die Realität menschlicher Beziehungen.</p>
    </li>
    <li class="text-center">
      <strong>4.</strong>
      <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
        <iframe src="https://open.spotify.com/embed/track/36GgWp4O1KCWrRPRj9Aazb?si=873720e639e14472"
                width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <p class="mt-2"><strong>Kuchu Buranko</strong> – Plastic Tree</p>
      <p>Ein experimenteller Song, der von der japanischen Rockband Plastic Tree mit einer Mischung aus modernen und klassischen Elementen geschaffen wurde, die in einer melancholischen Melodie verpackt sind.</p>
    </li>
    <li class="text-center">
      <strong>5.</strong>
      <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small">
        <iframe src="https://open.spotify.com/embed/track/1jo4sl7NyZwq5yYAZfWvdD?si=ef65d14d10b648c6"
                width="100%" height="100%" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <p class="mt-2"><strong>denkst du an mich?</strong> – Lovehead</p>
      <p>Ein emotionaler Track, der die Fragen und Ängste einer zerbrechenden Beziehung aufgreift und sich mit der Sehnsucht nach Verständnis auseinandersetzt.</p>
    </li>
  </ul>

  <h2 class="mt-4">Lieblings Album (Zur Zeit):</h2>
  <p class="lead">Mein derzeitiges Lieblingsalbum ist:</p>
  <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small mt-4">
    <iframe src="https://open.spotify.com/embed/album/3KpYyDP8q8sUBxatHaYEsP"
            width="100%" height="380" allowtransparency="true" allow="encrypted-media">
    </iframe>
  </div>
  <p class="text-center mt-2"><strong>Teens of Denial</strong> – Car Seat Headrest</p>
  <p class="text-center">Ein Album, das die chaotischen Jahre des Erwachsenwerdens erforscht und mit einer Mischung aus Indie-Rock und introspektiven Texten zu einem Kultklassiker wurde.</p>

  <h2 class="mt-4">Meine Playlist:</h2>
  <p class="lead">Hier kannst du meine Playlist hören:</p>

  <div class="embed-responsive embed-responsive-16by9 mx-auto embed-small mt-4">
    <iframe class="embed-responsive-item"
            src="https://open.spotify.com/embed/playlist/1Q7so6Ea5ki42wTQTXbSR7?si=5eb1fc4e9f9f4367&pt=f41cf50275af84dc61a1ce57c3c9f04c"
            width="100%" height="380" allowtransparency="true" allow="encrypted-media">
    </iframe>
  </div>
</div>
