<head>
  <title>Cizmic Art</title>
  <link rel="stylesheet" href="page-art.component.scss">
</head>

<body>
<h1>Ich zeichne, manchmal</h1>
<p>1:</p>
<img src="assets/cizmic_assets/Picture1.png" alt ="A Drawing of two Characters from Internet Comedy Series 'Khonjin House'">
<p>2:</p>
<img src="assets/cizmic_assets/Picture2.png" alt ="A Drawing of the three main Characters from 'Don't Hug Me I'm Scared'">
<p>3:</p>
<img src="assets/cizmic_assets/Picture3.png" alt ="A Drawing a Robot from a scrapped Project'">
<p>4:</p>
<img src="assets/cizmic_assets/Picture4.png" alt ="A Drawing of a Crewmate from Among Us, Jerma and Henry Stickmin'">
<p>5:</p>
<img src="assets/cizmic_assets/Picture5.png" alt ="A Drawing of Luigi and Meggy, from Glitch Productions">
</body>
