<app-mainpages-header-friedl></app-mainpages-header-friedl>
<div class="container">
  <div class="wsgtirobg">
    <div class="text-content">
      <h1>WSG Tirol</h1>
      <p>Die WSG Tirol ist ein Fußballverein aus Innsbruck, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Tivoli Stadion aus. Die Vereinsfarben sind Grün und Weiß. Die WSG Tirol ist bekannt für ihre starke Präsenz in der Bundesliga und ihre Entwicklung zu einem ernstzunehmenden Team.</p>
      <h2>Geschichte</h2>
      <p>Die WSG Tirol wurde 2007 gegründet und hat sich schnell als etablierter Club in der österreichischen Bundesliga positioniert. Der Verein spielt im Tivoli Stadion in Innsbruck, das eine lange Tradition und eine große Anhängerschaft hat.</p>
      <p>Die Heimspiele trägt die WSG Tirol im Tivoli Stadion aus, das Platz für rund 17.000 Zuschauer bietet. Das Stadion ist bekannt für seine beeindruckende Architektur und die leidenschaftlichen Fans des Vereins.</p>
      <p>Die WSG Tirol ist weiterhin auf der Suche nach Erfolgen in der Bundesliga und in internationalen Wettbewerben, und hat sich zu einer festen Größe im österreichischen Fußball entwickelt.</p>
      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga</td>
            <td>2019</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>2020</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 7/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 7/10</p>
      <p>Spielerisch: 6/10</p>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">Zurück</a>
    </div>
  </div>
</div>
<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
