.wsgtirobg {
  background-image: url('../../../../../../../public/assets/Friedl-bilder/WSG_Stadion.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}

.wsgtirobg h1 {
  font-size: 3rem;
  color: #006d32;
  font-weight: bold;
}

.wsgtirobg h2 {
  font-size: 2.5rem;
  color: #006d32;
  font-weight: bold;
}

.text-content {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}
