<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a
        routerLink="page_metz" routerLinkActive="active"
        class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a
        routerLink="page_metz_reviews" routerLinkActive="active"
        class="nav-link">Reviews</a></li>
      <li class="nav-item"><a
        routerLink="page_metz_travel" routerLinkActive="active"
        class="nav-link">Reisen</a></li>
    </ul>
  </header>
</div>
