<div class="body">
  <h1 class="header">Meine Reisen</h1>
  <!--Ausgabe Alben-->
  <ul class="travel d-flex flex-column">
    <li *ngFor="let reise of reise | orderBy: 'interpret'; let i = index" class="col-auto">
      <h2>{{reise.ziel}}</h2>
      <h3> {{ getMonthAsText(reise.datum.getMonth()) }}, {{reise.datum.getFullYear()}}</h3>
      <ul>
        <li *ngFor="let foto of reise.fotos">
          <div>
            <img
              src="assets/metzinger-bilder/Fotografie/{{reise.pfad}}/{{foto.Link}}.jpg"
              alt="{{foto.Link}} wurde nicht gefunden"
              [style.width]="foto.isVertikal ? '150px' : '300px'"
            >
          </div>
          <p>{{ foto.Beschreibung }}</p>
          <br>
        </li>
      </ul>

    </li>
  </ul>
  <div class="buttongrid">
    <a class="btn btn-primary" routerLink="/page_metz" routerLinkActive="active">Steckbrief</a>
    <a class="btn btn-primary" routerLink="/home" routerLinkActive="active">Startseite</a>
  </div>
</div>

