<h1>Meine Haustiere</h1>
<h1>Brenda</h1>
<img src="/assets/assets-WAGN/Brenda.jpeg" alt="Brenda Bild " height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(2).jpeg" alt="Brenda Bild" height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(8).jpeg" alt="Brenda Bild" height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(4).jpeg" alt="Brenda Bild" height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(5).jpeg" alt="Brenda Bild" height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(7).jpeg" alt="Brenda Bild" height="auto" width="50%">
<img src="/assets/assets-WAGN/Brenda%20(3).jpeg" alt="Brenda Bild" height="auto" width="50%">
<div>
  <p>Brenda ist der erste Hund, den wir in unsere Familie aufgenommen haben. Sie kam aus Serbien und war dort ein
    Straßenhund. Sie wurde dann von einer Organisation gerettet und nach Österreich gebracht. Brenda war sehr scheu, als
    sie dann bei der Gastfamile war und hat sich sehr versteckt. Als wir sie dann zum ersten Mal gesehen haben wollten
    wir sie sofort mitnehmen. Wir haben sie dann im Sommer vor ein paar Jahren endlich adoptieren dürfen und seit dem
    Lebt sie bei uns. Dadurch, das sie ein Straßenhund war, sagen wir immer, dass sie ein reinrassiger Mischling ist,
    wenn uns jemand fragt. </p>
</div>
<h1>Terry</h1>
<img ngSrc="/assets/assets-WAGN/Terry.jpeg" width="540" height="960" alt="Terry Bild">
<img ngSrc="/assets/assets-WAGN/Terry%20(1).jpeg" width="540" height="960" alt="Terry Bild">
<img ngSrc="/assets/assets-WAGN/Terry%20(2).jpeg" width="540" height="960" alt="Terry Bild">
<div>

  <p>Terry ist nach Brenda der Familie beigetreten. Er ist ein Ex-Straßenhund aus Griechenland, er war sehr jung als
    eine Bekannte ihn und seine Geschwister aus Griechenland mitgebracht hat. Er ist seit dem sehr gewachsen und sehr
    groß geworden, er ist trotz seiner Größe ein absoluter Schmusehund. Er und Brenda haben sich an dem Tag, an dem sie
    sich getroffen haben super verstanden und wir haben gewusst, das die beiden zusammen sein müssen. Seit dem Terry da
    ist, ist Brenda nicht mehr so ängstlich.</p>
</div>
<a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a><br>
<a routerLink="" routerLinkActive="active" class="btn btn-primary">Zurück zur Homepage</a>


