<h1>Meine Haustiere</h1>
<h1>Brenda</h1>
<img ngSrc="/assets/assets-WAGN/Brenda.jpeg" alt="Brenda Bild " height="1920" width="1080">
<p>Brenda ist der erste Hund, den wir in unsere Familie aufgenommen haben. Sie kam aus Serbien und war dort ein Straßenhund. Sie wurde dann von einer Organisation geretten und nach Österreich gebracht. Brenda war sehr scheu, als sie dann bei der Gastfamile war und hat sich sehr versteckt. Als wir sie dann zum ersten Mal gesehen haben wollten wir sie sofort mitnehmen. Wir haben sie dann im Sommer vor ein paar Jahren endlich adoptieren dürfen und seit dem Lebt sie bei uns. Dadurch, das sie ein Straßenhund war, sagen wir immer, dass sie ein reinrassiger Mischling ist, wenn uns jemand fragt. </p>
<h1>Terry</h1>
<img ngSrc="/assets/assets-WAGN/Terry.jpeg" width="540" height="960" alt="Terry Bild" ><br>

<a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a><br>
<a routerLink="" routerLinkActive="active" class="btn btn-primary">Zurück zur Homepage</a>

