@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
  font-size: 40px;
  font-family: "Sour Gummy", serif;
}

h2 {
  font-size: 30px;
  font-family: "Sour Gummy", serif;
}

p {
  font-size: 17px;
  font-family: "Sour Gummy", serif;
}

div{
  width: 50%;
}
