<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body fixed-top">
    <div class="container-fluid">
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/page_wagner">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_haustiere_wagner">Haustiere</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_hobbies_wagner">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page_lieblingsfilmundmusik_wagner">Lieblingsfilm und Lieblingsmusik</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-body-tertiary" style="margin-top: 58px;">
    <h1 class="mb-3">Meine Haustiere</h1>
  </div>
  <!-- Jumbotron -->
</header>

<div class="background">
  <br>
  <div class="flex">
    <div class="card cardmargin">
      <div class="card-body">
      </div>
      <h1>Brenda</h1>
      <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/assets-WAGN/Brenda.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/assets-WAGN/Brenda%20(2).jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/assets-WAGN/Brenda%20(8).jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/assets-WAGN/Brenda%20(4).jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <div id="carouselExampleControls2" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/assets-WAGN/Brenda%20(7).jpeg" class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item">
            <img src="/assets/assets-WAGN/Brenda%20(5).jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div>

        <p>Brenda ist der erste Hund, den wir in unsere Familie aufgenommen haben. Sie kam aus Serbien und war dort ein
          Straßenhund. Sie wurde dann von einer Organisation gerettet und nach Österreich gebracht. Brenda war sehr
          scheu, als
          sie dann bei der Gastfamile war und hat sich sehr versteckt. Als wir sie dann zum ersten Mal gesehen haben
          wollten
          wir sie sofort mitnehmen. Wir haben sie dann im Sommer vor ein paar Jahren endlich adoptieren dürfen und seit
          dem
          Lebt sie bei uns. Dadurch, das sie ein Straßenhund war, sagen wir immer, dass sie ein reinrassiger Mischling
          ist,
          wenn uns jemand fragt. </p>
      </div>
    </div>


    <div>

      <div class="card cardmargin">
        <div class="card-body">
        </div>
        <h1>Terry</h1>
        <div id="carouselExampleControls3" class="carousel slide mx-auto" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/assets-WAGN/Terry.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/assets-WAGN/Terry%20(1).jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/assets-WAGN/Terry%20(2).jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <p>Terry ist nach Brenda der Familie beigetreten. Er ist ein Ex-Straßenhund aus Griechenland, er war sehr jung
          als
          eine Bekannte ihn und seine Geschwister aus Griechenland mitgebracht hat. Er ist seit dem sehr gewachsen und
          sehr
          groß geworden, er ist trotz seiner Größe ein absoluter Schmusehund. Er und Brenda haben sich an dem Tag, an
          dem sie
          sich getroffen haben super verstanden und wir haben gewusst, das die beiden zusammen sein müssen. Seit dem
          Terry da
          ist, ist Brenda nicht mehr so ängstlich.</p>
      </div>
    </div>
  </div>
</div>
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->

    <section class="mb-4">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Folgt uns auf unseren Social Media Seiten:</span>
      </div>
      <div>
        <a href="https://www.htl-donaustadt.at/home" class="me-4 text-reset" >
          <img src="/assets/assets-WAGN/google.png" alt="google icon" height="auto" width="5%">
        </a>
        <a href="https://www.instagram.com/scalefeatherandfluff/" class="me-4 text-reset">
          <img src="/assets/assets-WAGN/instagramicon.png" alt="google icon" height="auto" width="5%">
        </a>

        <a href="https://github.com/CarinaWagn" class="me-4 text-reset">
          <img src="/assets/assets-WAGN/Github.png" alt="google icon" height="auto" width="5%">
        </a>
      </div>
    </section>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <a routerLink="/page_wagner" routerLinkActive="active" class="btn btn-primary">Zurück zur About-Me Seite</a>
      <a routerLink="/page_haustiere_wagner" routerLinkActive="active" class="btn btn-primary">Zur Haustierseite</a>
      <a routerLink="/page_lieblingsfilmundmusik_wagner" routerLinkActive="active" class="btn btn-primary">Zur Lieblingsfilm- und Lieblingsmusikseite</a>
      <a routerLink="/page_hobbies_wagner" routerLinkActive="active" class="btn btn-primary">Zur Hobbiesseite</a>
      <a routerLink="" routerLinkActive="active" class="btn btn-primary">Zurück zur Homepage</a>
    </section>
    <section>
      <h3>Impressum</h3>
      <p>Name: Carina Wagner</p>
      <p>Email: {{me.email}}</p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright: Carina Wagner
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Zuletzt bearbeitet am 10.03.2025
  </div>
</footer>
