
$background-color:#ff5e62;
$background-color2: #ff9966;
$text-color:#ff5e62;
$primary: white;
$link-hover-color: #ff5e62;
$h3-color: #5a3e2b;
$li-back: #fff3e6;

$p_font: 'Arial', sans-serif;
$h1_font: 'Arial', sans-serif;
$a_font: 'Arial', sans-serif;

@import "bootstrap/scss/bootstrap";
