<main class="main container m-5">
  <div class="content ">
    <h1>Das ist die Startseite der {{ title }}</h1>
  </div>
  <a routerLink="/page_demo" routerLinkActive="active">Link zur page demo</a><br>
  <a routerLink="/page_pont" routerLinkActive="active">Link zur Pontasch Seite</a><br>
  <a routerLink="/page_kovacs" routerLinkActive="active">Link zur Kovacs Seite</a><br>
  <a routerLink="/page_wagner" routerLinkActive="active">Link zur Wagner Seite </a><br>
  <a routerLink="/page_hauer" routerLinkActive="active">Link zur Hauer Seite</a><br>
  <a routerLink="/page_metz" routerLinkActive="active">Link zur Metzinger Seite</a><br>
  <a routerLink="/page_hobel" routerLinkActive="active">Link zur Hobel Seite</a><br>
  <a routerLink="/page_kovacic" routerLinkActive="active">Link zur Kovacic Seite</a><br>
  <a routerLink="/page_zhou" routerLinkActive="active">Link zur Zhou Seite</a><br>
  <a routerLink="/page_majzel" routerLinkActive="active">Link zur Majzel Seite</a><br>
    <a routerLink="/page_schoen" routerLinkActive="active">Link zur Schöngrundner Seite</a><br>
</main>



