<app-mainpages-header-friedl></app-mainpages-header-friedl>

<div class="austriabg">
  <div class="header-container">
    <h1>Austria Wien</h1>
    <div class="header-logo">
      <img src="/assets/Friedl-bilder/newFAKlogo.png" alt="Austria Wien Logo">
    </div>
  </div>

  <div class="container">
    <div class="text-content">
      <p>Der FK Austria Wien ist ein Fußballverein aus Wien, Österreich. Der Verein spielt in der Bundesliga und trägt seine Heimspiele im Generali-Arena aus. Die Vereinsfarben sind Violett und Weiß. Austria Wien ist einer der traditionsreichsten und erfolgreichsten Fußballvereine des Landes.</p>

      <h2>Geschichte</h2>
      <p>Der FK Austria Wien wurde 1911 gegründet und hat seitdem eine herausragende Rolle im österreichischen Fußball gespielt. Der Verein hat zahlreiche Meistertitel und Pokalsiege gewonnen und ist auch international bekannt für seine Erfolge, insbesondere in den 1970er und 1980er Jahren, als er regelmäßig in den europäischen Wettbewerben vertreten war.</p>
      <p>Die Heimspiele trägt Austria Wien in der Generali-Arena aus, die Platz für rund 17.000 Zuschauer bietet. Das Stadion ist bekannt für seine lebendige Atmosphäre und die leidenschaftlichen Fans des Vereins.</p>
      <p>Austria Wien hat eine große Anhängerschaft und gilt als einer der besten Fußballvereine Österreichs.</p>

      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Erste Liga (Bundesliga)</td>
            <td>1921, 1923, 1933, 1948, 1950, 1973, 1985, 2003</td>
          </tr>
          <tr>
            <td>Österreichischer Cupsieger</td>
            <td>1924, 1930, 1955, 1969, 1994, 1995, 2005</td>
          </tr>
          <tr>
            <td>Meister Zweite Liga</td>
            <td>1920</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 8/10</p>
      <p>Management: 7/10</p>
      <p>Vereinsgeschichte: 10/10</p>
      <p>Spielerisch: 8/10</p>

      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>

<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
