container-fluid {
  font-family: "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.background-box {
  background: linear-gradient(to bottom, #5f409e, #ff5e84);
  padding: 60px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 5px gray;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  min-height: 300px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.image-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-image {
  border: 3px solid #6c4d88;
  border-radius: 10px;
  min-width: 10cm;
  min-height: 10cm;
  max-width: 10cm;
  max-height: 10cm;

}



.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  border: 3px solid #6c4d88;
  margin-left: 30px;
  max-width: 700px;
  box-sizing: border-box;
}

.card-title {
  font-size: 1.8rem;
  color: #333;
}

.card-text {
  font-size: 1.1rem;
  color: #555;
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.link-group {
  display: flex;
  gap: 15px;
}

.btn-primary {
  width: 160px;
  height: 40px;
  background-color: #3d2767;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #7f57cf;
  transform: scale(1.1);
}

.back-home {
  width: 160px;
  height: 40px;
  background-color: #5f409e;
}

.back-home:hover {
  background-color: #7f57cf;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-box {
  animation: fadeIn 0.5s ease-out;
}
