@import '../bootstrap_hauer';



.container-fluid {
  font-family: $main-font;
  @include flex-center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  margin-top: $header-fixed-offset;

}

.background-box {
  background: linear-gradient(to bottom, $primary-purple, $accent-pink);
  padding: 60px;
  border-radius: $container-radius;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 5px $gray-shadow;
  max-width: $max-container-width;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  min-height: 300px;
  animation: $fadeIn-animation;
}

.row {
  @include flex-center;
  text-align: center;
  flex-wrap: wrap;
}

.image-container {
  padding: 0;
  @include flex-center;
}

.pet-image {
  width: min(30vw, 10cm);
  height: min(30vw, 10cm);
  object-fit: cover;
}



.card {
  @include card-style;
  margin-left: 30px;
  max-width: 700px;

  &-title {
    font-size: 1.8rem;
    color: #333;
  }

  &-text {
    font-size: 1.1rem;
    color: $text-gray;
  }
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.link-group {
  display: flex;
  gap: $standard-gap;
}

.btn-primary {
  @include button-style;
  background-color: $dark-purple;

  &:hover {
    background-color: $button-hover;
    transform: scale(1.1);
  }
}

.back-home {
  @include button-style;
  background-color: $primary-purple;

  &:hover {
    background-color: $button-hover;
  }
}
@media (max-width: 768px) {
  .pet-image {
    min-width: 8cm;
    min-height: 8cm;
    max-width: 8cm;
    max-height: 8cm;
  }
  .main-content{
    margin-top: 6000px;
  }
  .background-box{
    margin-top: 120px;
  }
}

