$primary-color: #51168e;
$secondary-color: #4a90e2;
$background-color: #f0f0f0;
$text-color: #222;
$border-radius: 40px;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px;
  max-width: 1200px;
  margin: auto;
}

.pet-card {
  background: white;
  border-radius: $border-radius;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: calc(33.33% - 20px); /* Drei Karten nebeneinander mit Abstand */
  margin-bottom: 30px;
  box-sizing: border-box; /* Verhindert, dass das Padding die Breite überschreitet */

  h3 {
    color: $primary-color;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .description {
    font-size: 16px;
    margin-top: 15px;
  }

  @media (max-width: 1024px) {
    width: calc(50% - 20px); /* Zwei Karten nebeneinander auf mittleren Bildschirmen */
  }

  @media (max-width: 768px) {
    width: 100%; /* Auf mobilen Geräten wird jede Karte untereinander angezeigt */
  }
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  background: #fff;
  padding: 10px;

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    width: 100%;
    display: none;
    border-radius: $border-radius;
  }

  .slide.active {
    display: block;
  }
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dots {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active, .dot:hover {
  background-color: $primary-color;
}
.btn-primary {
  font-family: "Times New Roman", serif;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #5b39c0;
  color: #fff;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}
