body {
  background-color: darkred;
  color: white;
  border-radius: 50px;
  padding-left: 120px;
}

h1{
  background-color: orangered;
  color: white;
  border-radius: 50px;
  padding-left: 100px;
}
