<div class="header">
  <img src="/assets/novo_bilder/PN-LOGO.png" width="100">
  <h5>Philipp Novomesky</h5>
  <div class="nav-links">
    <a routerLink="/page_novo_subpage1" routerLinkActive="active">Trainingsplan</a>
    <a routerLink="/page_novo_subpage2" routerLinkActive="active">Lieblingsessen</a>
  </div>
</div>

<div class="evr">
<h1>Meine Trainingstage</h1>

  <div class="body">
<div class="text-container">
<div class="Montag">
  <details>
    <summary><h4>Montag</h4></summary>
    <p>Oberkörper A</p>
      <p>
      Horizontale Druckbewegung 3 x 6-10
    </p>
    <p>
      Horizontale Zugbewegung 3 x 6-10
    </p>
    <p>
      Vertikale Druckbewegung 3 x 8-12
    </p>
    <p>
      Vertikale Zugbewegung 3 x 8-12
    </p>
    <p>
      Seithebevariation 4 x 12-15
    </p>
    <p>
      Trizeps Isolation 2 x 10-15
    </p>
    <p>
      Bizeps Isolation 2 x 12-15
  </p>

      Horizontale Druckbewegung 3 x 6-10


  </details>
</div>

<div class="Dienstag">
  <details>
    <summary><h4>Dienstag</h4></summary>
    <p>
      Unterkörper A
    </p>
    <p>
      Beugevariation

      3 x 6-8
    </p>
    <p>
      Beinbeuger Isolation

      3 x 10-15
    </p>
    <p>
      Beinpresse Variation

      2 × 10-15
    </p>
    <p>
      Beinstrecker

      3 x 12-15
    </p>
    <p>
      Hüftstreckvariation

      2 x 10-15
    </p>
    <p>
      Waden Isolation

      3 x 12-15
    </p>

  </details>
</div>

<div class="Mittwoch">
  <details>
    <summary><h4>Mittwoch</h4></summary>
    <p>Ruhetag</p>
    <details>
      <summary>Wieso?</summary>
      <p>Beim Muskelaufbau ist die Regeneration eines der wichtigsten Dinge überhaupt. Die Muskeln erleiden während des Trainings Mikro-Risse, diese schließen sich in den Ruhephasen mit neuen Muskeln und so entsteht der Muskelwachstum. Exakt aus diesem Grund müssen wir unserem Körper Ruhephase geben.</p>
    </details>
  </details>
</div>

<div class="Donnerstag">
  <details>
    <summary><h4>Donnerstag</h4></summary>
    <p>
    Oberkörper B
  </p>
    <p>
      Vertikale Zugbewegung

      3 x 8-12
    </p>
    <p>
      Schrägbankvariation

      3 x 8-12
    </p>
    <p>
      Horizontale Zugbewegung

      2 x 10-15
    </p>
    <p>
      Horizontale Druckbewegung

      3 x 8-12
    </p>
    <p>
      Seithebevariation

      2 x 15-20
    </p>
    <p>
      Hintere Schulter isolation

      2 x 12-15
    </p>
    <p>
      Bizeps Isolation

      2 x 10-15
    </p>
    <p>
      Trizeps Isolation

      2 × 12-15
    </p>

  </details>
</div>

<div class="Freitag">
  <details>
    <summary><h4>Freitag</h4></summary>
    <p>
      Unterkörper B
    </p>
    <p>
      Beugevariation

      3 x 6-8
    </p>
    <p>
      Beinbeuger Isolation

      3 x 10-15
    </p>
    <p>
      Beinpresse Variation

      2 × 10-15
    </p>
    <p>
      Beinstrecker

      3 x 12-15
    </p>
    <p>
      Hüftstreckvariation

      2 x 10-15
    </p>
    <p>
      Waden Isolation

      3 x 12-15
    </p>


  </details>
</div>

<div class="Samstag">
  <details>
    <summary><h4>Samstag</h4></summary>
    <p>Ruhetag</p>
    <details>
      <summary>Wieso?</summary>
      <p>Beim Muskelaufbau ist die Regeneration eines der wichtigsten Dinge überhaupt. Die Muskeln erleiden während des Trainings Mikro-Risse, diese schließen sich in den Ruhephasen mit neuen Muskeln und so entsteht der Muskelwachstum. Exakt aus diesem Grund müssen wir unserem Körper Ruhephase geben.</p>
    </details>
  </details>
</div>

<div class="Sonntag">
  <details>
    <summary><h4>Sonntag</h4></summary>
    <p>Ruhetag</p>
    <details>
      <summary>Wieso?</summary>
      <p>Beim Muskelaufbau ist die Regeneration eines der wichtigsten Dinge überhaupt. Die Muskeln erleiden während des Trainings Mikro-Risse, diese schließen sich in den Ruhephasen mit neuen Muskeln und so entsteht der Muskelwachstum. Exakt aus diesem Grund müssen wir unserem Körper Ruhephase geben.</p>
    </details>
  </details>
</div>
</div>
</div>
  <a href="/page_novo" class="btn btn-primary" routerLink="" routerLinkActive="active">Back</a>
</div>

