<app-header-kovacs></app-header-kovacs>

<div class="body">
<h1>
  Österreich – Mein Heimatland
</h1>

<section class="flag-card">
  <img src="/assets/Kovacs_Bilder/flags/Austria.jpg" alt="Flagge von Österreich">
</section>


<section class="info-boxes">
  <div class="box">
    <h3>🏛 Hauptstadt</h3>
    <p>Wien</p>
  </div>
  <div class="box">
    <h3>👥 Bevölkerung</h3>
    <p>9.158.750</p>
  </div>
  <div class="box">
    <h3>📅 Nationalfeiertag</h3>
    <p>26. Oktober 1955</p>
  </div>
  <div class="box">
    <h3>⚖ Flaggen-Seitenverhältnis</h3>
    <p>2:3</p>
  </div>
</section>
</div>
<app-footer-kovacs></app-footer-kovacs>
