<h1>Fotos!!</h1>

<div class="gallery">
  <img src="assets/zhou-bilder/Favbilder/1000006453.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000006476.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000006923.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000007232.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000007405.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000007448.jpg">
  <img src="assets/zhou-bilder/Favbilder/1000008715.jpg">

</div>

<a routerLink="/page_zhou" routerLinkActive="active" class="btn btn-primary">Back</a>
