@import "../zhou_variables";

.header {
  background-image: linear-gradient(to right, #f17a5d, #e54427);
  padding: 15px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 70px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
      background-color: #be1804;
      transition: 0.3s;
    }
  }
}

body {
  background-image: linear-gradient(to right, #f17a5d, #e54427);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.test {
  margin-bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery img {
  width: calc(20% - 50px);
  max-width: 200%;
  height: 350px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.6); /* Vergrößert das Bild */
  z-index: 10;
}

a {
  color: #e14d2e;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn-primary:hover {
  background-color: #f86138;
}

.btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ee4133;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.footer {
  background-image: linear-gradient(to right, #f17a5d, #e54427);
  padding: 15px 0;
  text-align: center;
  position: relative;
  height: 90px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  li {
    display: inline;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
      background-color: #be1804;
      transition: 0.3s;
    }
  }
}
