<body>
<nav class="header">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/page_zhou" routerLinkActive="active">Über Mich</a></li>
    <li><a routerLink="/page_zhou_lieblingsfotos" routerLinkActive="active">FavFotos</a></li>
    <li><a routerLink="/page_zhou_lieblingsmusik" routerLinkActive="active">FavSongs</a></li>
  </ul>
</nav>

<div class="test">
  <h1>Fotos von meiner Reise in China!!</h1>

  <div class="gallery">
    <img src="/assets/zhou-bilder/Favbilder/1000006453.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000006476.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000006923.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000007232.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000007405.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000007448.jpg" alt="Foto in China">
    <img src="/assets/zhou-bilder/Favbilder/1000008715.jpg" alt="Foto in China">
  </div>
</div>
<a routerLink="/page_zhou" routerLinkActive="active" class="btn btn-primary">Back</a>


</body>
<footer class="footer">
  <ul>
    <li><a href="https://www.instagram.com/pikapoozero/" target="_blank">Instagram</a></li>
    <li><a href="https://github.com/{{ me.github_nickname }}" target="_blank">GitHub</a></li>
    <li><a href="mailto:{{ me.email }}">E-Mail</a></li>
  </ul>
</footer>


