<h1>Fotos!!</h1>

<div class="gallery">
  <img src="/assets/zhou-bilder/Favbilder/1000006453.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000006476.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000006923.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000007232.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000007405.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000007448.jpg" alt="Foto in China">
  <img src="/assets/zhou-bilder/Favbilder/1000008715.jpg" alt="Foto in China">

</div>

<a routerLink="/page_zhou" routerLinkActive="active" class="btn btn-primary">Back</a>
