body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.container {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.container h1 {
  color: white;
  font-size: 42px;
  font-family: 'Georgia', serif;
  margin-top: 20px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 1000px;
  text-align: left;
  margin: 20px;
  width: 100%;
  overflow: hidden;
}

.card h1 {
  color: #ff5e62;
  font-size: 36px;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.card-content {
  display: flex;
  align-items: center;
}

.card img {
  width: 45%;
  border-radius: 10px;
  margin-right: 20px;
  border: 5px solid #ff5e62;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}

.text-content {
  width: 55%;
}

.card h2 {
  color: #ff5e62;
  font-size: 30px;
  font-family: 'Georgia', serif;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.recipe {
  margin-top: 20px;
}

.recipe h3 {
  color: #ff5e62;
  font-size: 24px;
  font-family: 'Georgia', serif;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.recipe ul,
.recipe ol {
  padding-left: 20px;
  list-style-position: inside;
}

.recipe li {
  margin-bottom: 12px;
  line-height: 1.6;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #ff5e62;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #e14e5d;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
