.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #B0C6CE;
  color: #031926;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column; /* Ändert die Richtung der Flexbox auf vertikal */
  align-items: center; /* Zentriert den Inhalt horizontal */
}

.footer-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  transition: color 0.3s ease;
}

.footer-text:hover {
  color: #031926;
}

.socials {
  margin-top: 10px; /* Fügt etwas Abstand zwischen dem Text und dem Icon hinzu */
}

.socials a {
  display: inline-block; /* Macht das Icon klickbar */
}
