.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #B0C6CE;
  color: #031926;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-text {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  transition: color 0.3s ease;
}

.footer-text:hover {
  color: #031926;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-link {
  text-decoration: none;
  display: inline-block;
}

.bi-instagram {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.bi-instagram:hover {
  transform: scale(1.2);
}
