@import "../zhou_variables";

.header {
  background-color: burlywood;
  padding: 15px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
      background-color: #b68041;
      transition: 0.3s;
    }
  }
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.1);
  border-radius: 85px;
  max-width: 1800px;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  max-height: 900vh;
  transform: translate(-50%, 0%);
  left: 47%;
  right: 50%;
}

.link-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  background-color: burlywood;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: #b68041;
  }
}

a {
  color: #ffba3c;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
