<nav class="header">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/page_zhou_lieblingsfotos" routerLinkActive="active">FavFotos</a></li>
    <li><a routerLink="/page_zhou_lieblingsmusik" routerLinkActive="active">FavSongs</a></li>
  </ul>
</nav>

<div class="container-fluid m-5">

  <div class="card" style="width: 18rem;">


    <img src="{{ me.urlImage }}" class="card-img-top" width="20c" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ me.firstname }} {{ me.surname }}</h5>
      <p class="card-text">{{ me.message }}</p>
      <p class="card-text"><b>Geboren am:</b> {{ me.birthday }}</p>
      <b>Meine Socials: </b><a href="https://www.instagram.com/pikapoozero/">Instagram</a>
      <p class="card-text"><b>Meine Email:</b> {{ me.email }}</p>
      <p class="card-text"><b>Wohnort:</b> {{ me.zip_code }} {{ me.city }}</p>
      <p class="card-text"><b>Mein Github:</b> {{ me.github_nickname }}</p>

      <br><br>
      <div class="link-group">
        <a class="btn btn-primary" routerLink="/page_zhou_lieblingsfotos" routerLinkActive="active">FavFotos</a>
        <a class="btn btn-primary" routerLink="/page_zhou_lieblingsmusik" routerLinkActive="active">FavSongs</a>

      </div>
      <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Back</a>

    </div>
  </div>
</div>
