<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Verein</th>
    <th scope="col">SP</th>
    <th scope="col">S</th>
    <th scope="col">U</th>
    <th scope="col">N</th>
    <th scope="col">Tordiff</th>
    <th scope="col">Pkt</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Sturm Graz</td>
    <td>16</td>
    <td>11</td>
    <td>3</td>
    <td>2</td>
    <td>24</td>
    <td>36</td>





  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Austria Wien</td>
    <td>16</td>
    <td>10</td>
    <td>3</td>
    <td>3</td>
    <td>12</td>
    <td>33</td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Rapid Wien</td>
    <td>16</td>
    <td>7</td>
    <td>7</td>
    <td>2</td>
    <td>5</td>
    <td>28</td>






  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Wolfsberg</td>
    <td>16</td>
    <td>8</td>
    <td>2</td>
    <td>6</td>
    <td>8</td>
    <td>26</td>






  </tr>
  <tr>
    <th scope="row">5</th>
    <td>RB Salzburg</td>
    <td>16</td>
    <td>7</td>
    <td>5</td>
    <td>4</td>
    <td>7</td>
    <td>26</td>

  </tr>
  <tr>
    <th scope="row">6</th>
    <td> Blau-Weiß Linz </td>
    <td>16</td>
    <td>7</td>
    <td>2</td>
    <td>7</td>
    <td>-1</td>
    <td>23</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>LASK</td>
    <td>16</td>
    <td>6</td>
    <td>2</td>
    <td>8</td>
    <td>-2</td>
    <td>20</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Hartberg</td>
    <td>16</td>
    <td>5</td>
    <td>16</td>
    <td>16</td>
    <td>16</td>
    <td>16</td>

  </tr>
  <tr>
    <th scope="row">9</th>
    <td>WSG Tirol</td>
    <td>16</td>
    <td>4</td>
    <td>4</td>
    <td>8</td>
    <td>-7</td>
    <td>16</td>

  </tr>
  <tr>
    <th scope="row">10</th>
    <td>Austria Klagenfurt</td>
    <td>16</td>
    <td>4</td>
    <td>3</td>
    <td>9</td>
    <td>-21</td>
    <td>15</td>

  </tr>
  <tr>
    <th scope="row">11</th>
    <td>GAK</td>
    <td>16</td>
    <td>2</td>
    <td>6</td>
    <td>8</td>
    <td>-12</td>
    <td>12</td>

  </tr>
  <tr>
    <th scope="row">12</th>
    <td>SCR Altach</td>
    <td>16</td>
    <td>2</td>
    <td>4</td>
    <td>10</td>
    <td>-11</td>
    <td>10</td>

  </tr>
  </tbody>
</table>
