.greenbg {
  background: url('../../../../../../../public/assets/Friedl-bilder/Stadion_Altach.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}

.header-container {
  position: relative;
  text-align: center;
  padding: 20px;
}

.header-container h1 {
  display: inline-block;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
}

.header-logo {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header-logo img {
  width: 120px;
  height: auto;
}

.text-content {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  display: inline-block;
}
.greenbg h2 {
  color: greenyellow;
}
