<app-mainpages-header-friedl></app-mainpages-header-friedl>

<div class="greenbg">
  <div class="header-container">
    <h1>SCR Altach</h1>
    <div class="header-logo">
      <img src="/assets/Friedl-bilder/newAltachlogo.png" alt="SCR Altach Logo">
    </div>
  </div>

  <div class="container">
    <div class="text-content">
      <p>Der Sportclub Rheindorf Altach (durch ein Sponsoring offiziell CASHPOINT Sportclub Rheindorf Altach), kurz SCR Altach oder einfach nur SCRA, ist ein Fußballverein aus Altach in Vorarlberg. Der Verein spielt derzeit in der Bundesliga und trägt seine Heimspiele in der Cashpoint-Arena aus. Die Vereinsfarben sind Schwarz und Weiß. Die Profifußballabteilung ist seit dem 1. Juli 2016 in die SCR Altach Spielbetriebs GmbH ausgegliedert, deren einziger Gesellschafter der Verein ist.</p>

      <h2>Geschichte</h2>
      <p>Der Sportclub Rheindorf Altach (SCR Altach) wurde am 26. Dezember 1929 gegründet, als Anton Giesinger gemeinsam mit Julius Längle, Erwin Fend und Manfred Monz die Einrichtung einer Fußballabteilung im Turnerbund Altach initiierte...</p>

      <h2>Erfolge</h2>
      <div class="table-container">
        <table class="table table-success table-striped">
          <thead>
          <tr>
            <th scope="col">Erfolg</th>
            <th scope="col">Jahr(e)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Meister Zweite Spielstufe (Erste Liga)</td>
            <td>2006, 2014</td>
          </tr>
          <tr>
            <td>Meister Dritte Spielstufe (Regionalliga West)</td>
            <td>1991, 1997, 2004</td>
          </tr>
          <tr>
            <td>Meister Vierte Spielstufe (Vorarlbergliga)</td>
            <td>1986</td>
          </tr>
          <tr>
            <td>Vorarlberger Cupsieger</td>
            <td>1987, 1988, 1993, 2002, 2003, 2013 (Amateure)</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2>Meine Bewertung</h2>
      <p>Vereinslogo: 6/10</p>
      <p>Management: 6/10</p>
      <p>Vereinsgeschichte: 2/10</p>
      <p>Spielerisch: 2/10</p>

      <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary">Home</a>
      <a routerLink="/page_friedl" routerLinkActive="active" class="btn btn-secondary">Über mich</a>
      <a routerLink="/subpage2-friedl" routerLinkActive="active" class="btn btn-secondary">zurück</a>
    </div>
  </div>
</div>

<app-mainpages-footer-friedl></app-mainpages-footer-friedl>
