
<html>
<head>
  <title>Where I Have Been</title>
</head>


<h1>Where I Have Been</h1>


<div class="gallery">
  <div class="vacation-image">
    <img src="assets/garcia_bilder/bratislava.jpg" alt="Bratislava">
    <p class="description"><strong>Bratislava</strong><br> I went with my family here, but I can't really recall it much.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/budapest.jpg" alt="Budapest">
    <p class="description"><strong>Budapest</strong><br> It was really pretty. I liked traveling there even though it's far by car.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/krk.jpg" alt="Krk">
    <p class="description"><strong>Croatia</strong><br> I went there with my family 3-4 years ago. Loved the trip.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/prag.jpg" alt="Prague">
    <p class="description"><strong>Prague</strong><br> A lovely trip with my Lola and aunts.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/venice.jpg" alt="Venice">
    <p class="description"><strong>Venice</strong><br> I celebrated my 12th birthday here. Got my first phone!</p>
  </div>
</div>


<div class="places-box">
  <h2>Places I would like to visit</h2>

  <ul class="places-list">
    <li>Bali</li>
    <li>Malediven</li>
    <li>Paris</li>
    <li>New York</li>
    <li>Los Angeles</li>
    <li>Karibik</li>
    <li>Griechenland</li>
    <li>Raja Ampat</li>
    <li>Portugal</li>
    <li>Malediven</li>
    <li>Santorini</li>
  </ul>
</div>


<a href="#" class="btn">Back</a>

</html>
