<h1>Vacation Destinations</h1>

<div class="vacation-collage-container">
  <div class="vacation-image">
    <img src="assets/garcia_bilder/bratislava.jpg" alt="Bratislava">
    <p class="description"><strong>Bratislava</strong><br> I went with my family here, however, I cannot really recall it anymore. I think I had fun there.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/budapest.jpg" alt="Budapest">
    <p class="description"><strong>Budapest</strong><br> It was really pretty. I liked traveling there even though it's kinda far.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/krk.jpg" alt="Krk">
    <p class="description"><strong>Croatia</strong><br> I was with my family 3-4 years ago in Krk, Croatia. I really loved driving there with my family. It was also one of my very first countries I visited. I would like to visit it again. I want to swim and see the beautiful atmosphere there.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/prag.jpg" alt="Prague">
    <p class="description"><strong>Prague</strong><br> Here was my last trip outside Austria. I went with my Lola and only my aunts.</p>
  </div>
  <div class="vacation-image">
    <img src="assets/garcia_bilder/venice.jpg" alt="Venice">
    <p class="description"><strong>Venice</strong><br> Then I celebrated my 12th Birthday in Venice. I was so happy. There, I got my first phone.</p>
  </div>
</div>

<div class="container">
  <a routerLink="/page_garcia" routerLinkActive="active" class="btn">Back</a>
</div>
