
<div class="background">
<div class="fluid-container about-me">

  <div class="image">
    <img class="img-fluid" src="{{ me.urlImage }}" width="350px" alt="Das ist ein Bild"><br>
  </div>

<div class="text">
<h1>
  <span class="test"> {{me.surname}} </span> {{me.firstname}}
</h1>
  <p>
  <span class="headline">Geburtstag:</span> {{me.birthday.getUTCMonth()}}.{{me.birthday.getUTCDay()}}.{{me.birthday.getFullYear()}}
   um {{me.birthday.getHours()}}:{{me.birthday.getMinutes()}}<br>
  <span class="headline">Wohnort:</span> {{me.zip_code}} {{me.city}}<br>
  <span class="headline">Message:</span> {{me.message}}<br>
  <span class="headline">Abteilung:</span> {{me.department}}<br>
  </p>
<a class="Link" href= "mailto:name@email.com">{{me.email}}</a><br>
<a class="Link" href= {{me.socialLink}}> Mein Instagram Profil</a><br>

  <div class="Button">
      <div class="sub-Button">
      <a routerLink="subpage1" routerLinkActive="active" class="btn btn-primary">Mein Lieblingsessen</a>
      <a routerLink="subpage2" routerLinkActive="active" class="btn btn-primary">Mein Heimatland</a>
      </div>
    <a href="/public" routerLink="" routerLinkActive="active" class="btn btn-primary">Back</a>
  </div>
</div>
</div>
</div>
<br>
<br>







