@import "../kov_variables";

.test{
  text-transform: uppercase;
}

.headline{
  font-weight: bold;
  font-family: $h1_font;
}

.fluid-container{
  display: flex;
  width: fit-content;

  margin: 0 auto;

  padding-left:25px;
  padding-top:25px;
  padding-bottom:25px;
  padding-right: 25px;

  box-shadow: 0 7.5px 7.5px #343434;

  background-color: bisque;
  flex-direction: row;
  align-items: center;
  gap:25px;
  border-radius: 10px;
  position: relative;

}

.about-me{
  padding-top:25px;
  background-color: bisque;
}
.background{
  background-color:burlywood;
}

p{
  color: $text-color;
  font-size:18px;
}

h1{
  color: $text-color;
  font-family: $h1_font;
}

.button-group{
  color: $primary;
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
}
.sub-Button{
  display: flex;
  gap:10px;
  margin-right:72px;
}

a{
  color: $primary;
  text-decoration: none;
}
img{
  border-radius : 10px;
}

