@import "../kov_variables";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: bisque;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .logo-title {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      height: 75px; // Hier kannst du die Höhe des Logos anpassen
      width: auto;
      border-radius: 5px;
    }
    h1{
    color: $text-color;
    font-family: $h1_font;
    font-size: 38px;
      margin:0;
    }
  }

  .nav {
    flex-grow: 1; // Ermöglicht, dass die Navigation den verfügbaren Platz nutzt
    display: flex;
    justify-content: flex-end; // Sorgt für rechtsbündige Hyperlinks
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;

      li {
        display: inline;

        a {
          text-decoration: none;
          font-size: 18px;
          color: $primary;
          font-weight: bold;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: darken($primary, 15%);
          }
        }
      }
    }
  }
}




.test{
  text-transform: uppercase;
}

.headline{
  font-weight: bold;
  font-family: $h1_font;
}

.fluid-container{
  display: flex;
  width: fit-content;

  margin: 0 auto;
  margin-top:25px;
  padding:25px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  background-color: bisque;
  flex-direction: row;
  align-items: center;
  gap:25px;
  border-radius: 10px;
  position: relative;

}

.about-me{
  padding-top:25px;
  background-color: bisque;
}
.body{
  background-color:burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;


}

p{
  color: $text-color;
  font-size:18px;
}

h1{
  color: $text-color;
  font-family: $h1_font;
  font-size: 38px;
}

.button-group {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.sub-Button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.back-button {
  margin-top: 10px;
}

a{
  color: $primary;
  text-decoration: none;
}
img{
  border-radius : 10px;
}

