@import "../kov_variables";




.test{
  text-transform: uppercase;
}

.headline{
  font-weight: bold;
  font-family: $h1_font;
}

.fluid-container{
  display: flex;
  width: fit-content;

  margin: 0 auto;
  margin-top:25px;
  padding:25px;

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  background-color: $background-color2;
  flex-direction: row;
  align-items: center;
  gap:25px;
  border-radius: 10px;
  position: relative;

}

.about-me{
  padding-top:25px;
  background-color: $background-color2;
}
.body{
  background-color:burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;


}

p{
  color: $text-color;
  font-size:18px;
}

h1{
  color: $text-color;
  font-family: $h1_font;
  font-size: 38px;
}

.button-group {
  position: absolute;
  bottom: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.sub-Button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.back-button {
  margin-top: 10px;
}

a{
  color: $primary;
  text-decoration: none;
}
img{
  border-radius : 10px;
}

