<header class="header">
  <div class="logo-title">
    <a routerLink="/page_kovacs">
      <img src="/assets/Kovacs_Bilder/Logo.png" alt="Logo">
    </a>
    <h1>Meine Webseite</h1>
  </div>

  <div class="burger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="nav" [class.active]="menuOpen">
    <ul>
      <li><a routerLink="/page_kovacs" routerLinkActive="active">Über mich</a></li>
      <li><a routerLink="/page_kovacs_lieblingsessen" routerLinkActive="active">Mein Lieblingsessen</a></li>
      <li><a routerLink="/page_kovacs_reviews" routerLinkActive="active">Meine Reviews</a></li>
      <li><a routerLink="/page_kovacs_heimat" routerLinkActive="active">Meine Heimat</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Zur Homepage</a></li>
    </ul>
  </nav>
</header>
