<header class="header">
  <div class="logo-title">
    <a href="/page_kovacs">
      <img src="/assets/Kovacs_Bilder/Logo.png" alt="Logo" >
    </a>
    <h1>Meine Webseite</h1>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="/page_kovacs">Über mich</a></li>
      <li><a href="/page_kovacs_lieblingsessen">Mein Lieblingsessen</a></li>
      <li><a href="/page_kovacs_reviews">Meine Reviews</a></li>
      <li><a href="/page_kovacs_heimat">Meine Heimat</a></li>
      <li><a href="/home">Zur Homepage</a></li>
    </ul>
  </nav>
</header>
